// Dropdown

.dropdown-wrapper {
	display: block;
	position: relative;
	color: $c2;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: $bodyFont;
	font-size: $fontSize + rem;
	text-align: left;
	vertical-align: top;
	cursor: pointer;
	user-select: none;
	background-clip: padding-box;
	z-index: 20;

	&:hover,
	&.active {
		.dropdown-arrow {
			.icon {
				@include svgColor($color2);
			}
		}
	}

	&:active {
		.dropdown-arrow {
			.icon {
				@include svgColor($c3);
			}
		}
	}

	&.active {
		overflow: visible;
		z-index: 90;

		select {
			+ .dropdown-current {
				box-shadow: 0 1px 2px rgba($c0, 0.1);
			}

			&:focus {
				box-shadow: none !important;

				+ .dropdown-current {
					border-color: $focusColor !important;
					box-shadow: 0 0 10px $focusColor !important;
				}
			}
		}
	}


	select {
		display: block;
		position: absolute;
		margin: 0 !important;
		padding: 0 !important;
		left: 0;
		top: 0;
	}

	.dropdown-current {
		@extend .field;
	}

	.dropdown-arrow {
		display: none;
		position: absolute;
		margin: 0;
		padding: 0;
		width: 42px;
		top: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		z-index: 50;

		.icon {
			width: 14px;
			height: 14px;
			@include svgColor($color1);
		}
	}

	.dropdown {
		display: block;
		margin: 0;
		margin-top: 0;
		padding: 0;
		width: 100%;
		overflow: auto;
		overflow-x: hidden;

		.dropdown-item {
			display: block;
			position: relative;
			padding: floor($spacing / 1.5) !important;
			background: $cf;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			cursor: pointer;

			&:hover {
				color: $cf;
				background: $btnPrimaryColor !important;
			}

			&:active{
				color: $cf;
				background: $btnPrimaryColorHover !important;
			}
			&.active {
				color: $cf;
				background: $btnPrimaryColor !important;
			}
		}
	}


	&.drop {
		.dropdown-arrow {
			display: block;
		}

		.dropdown-current {
			padding-right: 54px;
			color: $bodyTextColor;

			&[data-value=""] {
				color: $ca;
			}
		}

		.dropdown {
			position: absolute;
			width: auto;
			height: 0;
			max-height: ($dropdownItemHeight * $dropdownItemCount) + px;
			left: 5px;
			right: 5px;
			box-shadow: 0 0 5px rgba($c0, 0.25);
			opacity: 0;
			z-index: -1;
			transition: {
				property: opacity transform;
				duration: $duration / 2;
				timing-function: $easing;
			}
			transform: translateY(0px) translateZ(0px);

			&.default {
				margin-top: -1px;
				top: 100%;
				transform: translateY(-10px) translateZ(0px);
			}
			&.bound {
				margin-top: 1px;
				bottom: 100%;
				transform: translateY(10px) translateZ(0px);
			}
			&.up {
				margin-top: 1px !important;
				bottom: 100% !important;
				transform: translateY(10px) translateZ(0px) !important;
			}

			.dropdown-item {
				border-top: 1px solid $cd;

				&:first-child {
					border-top: 0;
				}
			}
		}

		&.active {
			.dropdown {
				height: auto;
				opacity: 1;
				transform: translateY(0) translateZ(0px) !important;
			}
		}
	}

	&.list {
		.dropdown-current,
		.dropdown-arrow {
			display: none;
		}

		.dropdown {
			position: relative;
			border: 1px solid $cd;
			border-radius: $radius;
			background: $ce;
			overflow: auto;
			z-index: 15;

			.dropdown-item {
				margin-top: 0;
				border-top: 1px solid $cd;

				&:first-child {
					border-top: 0;
				}
			}
		}
	}
}


// Responsive

@media screen and (max-width: $scrTablL) {

	.dropdown-wrapper {
		width: 100% !important;

		.dropdown {
			display: none !important;
		}
	}

}