// Password

.password-wrapper {
	display: block;
	position: relative;
	margin-bottom: floor($spacing / 1.5);
	width: 100%;
	vertical-align: top;
	border-radius: $radius;
	overflow: hidden;

	input {
		display: block;
		margin: 0;
		width: 100%;
	}

	.password-meter-mask {
		display: block;
		position: absolute;
		margin: 0 auto;
		width: 0;
		height: 2px;
		bottom: $borderWidth;
		overflow: hidden;
		z-index: 10;
	}

	.password-meter {
		display: block;
		position: relative;
		width: 0;
		height: 5px;

		$pwdRed: #ee4444;
		$pwdYellow: #ffaa22;
		$pwdGreen: #66cc22;

		background: $pwdRed;
		background: linear-gradient(to right, $pwdRed 0%, $pwdYellow 50%, $pwdGreen 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee4444', endColorstr='#66cc22',GradientType=1 ); /* IE6-8 */
	}
}


// Responsive

@media screen and (max-width: $scrTablL) {

	.password-wrapper  {
		width: 100% !important;
	}

}