.lt-ie8 {

	* {
		behavior: url(styles/vendor/boxsizing.htc);
	}

	.column {
		float: left;
	}

}



.lt-ie9 {

	.mobile-show {
		display: none !important;
	}


	a[target="_blank"] {
		padding-left: 0;
		background-image: none;
	}


	.notification {
		display: none;

		&.active {
			display: block;
		}
	}

	.overlay {
		background: url("../img/pixel-black.png");
	}


	fieldset {
		legend {
			margin-bottom: ($spacing / 2);
		}
	}

	input,
	select,
	textarea {
		padding: 10px 12px 14px;
	}
	input[type="radio"],
	input[type="checkbox"] {
		display: block;
		margin-top: -1px;
		padding: 0;
	}

	.controller {
		input {
			display: inline-block;
		}

		label {
			&:before {
				display: none;
			}

			> * {
				display: none !important;
			}
		}
	}


	table {
		border-collapse: collapse;
	}


	.dropdown-arrow {
		overflow: hidden;
	}


	.map-wrapper {
		height: 600px;
	}

}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	/* IE10+ specific styles go here */

	.controller {
		&.radio {
			input[type="radio"] {
				&:checked + label:before {
					content: "\25cf";
					font-size: 24px;
					line-height: 19px !important;
				}
			}
		}
	}

}