.input-wrapper {
	position: relative;
	margin: 5px 0;
}

.form-info {
	margin-bottom: $spacing / 2;
	color: $c2;
	@include font-size($fontSize / 1.1);
}


fieldset {
	display: block;
	position: relative;
	margin: $spacing 0;
	padding: ($spacing / 4) $spacing ($spacing / 1.5);
	border: 1px solid $cd;
	@include border-radius($radius);

	legend {
		display: block;
		position: relative;
		margin: 0;
		margin-left: -7px;
		padding: 0 7px;
		color: $fontColor;
		font-weight: bold;
		text-transform: capitalize;
	}
}


label {
	display: block;
	position: relative;
	margin: 0;
	margin-right: 5px;
	padding: 7px 0;
	font-family: $bodyFont;

	&.control {
		display: inline-block;
		margin-top: 0;
		padding: 0;
	}
}


input,
select,
textarea {
	display: block;
	position: relative;
	color: $c2;
	margin: 0;
	margin-bottom: $spacing / 2;
	padding: 9px 12px;
	width: 100%;
	font-family: $bodyFont;
	@include font-size($fontSize);
	font-weight: 300;
	text-align: left;
	border: 1px solid $cd;
	@include border-radius($radius);
	background: $cf;
	@include background-clip(padding-box);
	outline: 0;
	vertical-align: top;


	&::-webkit-input-placeholder {
		color: $brand1;
	}
	&::-moz-placeholder {
		color: $brand1;
	}
	&:-moz-placeholder {
		color: $brand1;
	}
	&:-ms-input-placeholder {
		color: $brand1;
	}
	&.placeholder-text,
	&.placeholder_text {
		color: $brand1;
	}


	&:focus {
		@include box-shadow($inputFocusColor 0 0 3px 0);
	}
	&:invalid {
		@include box-shadow(none);
	}


	&[type="hidden"],
	&[type="search"]::-webkit-search-decoration { // UI Consistency
		display: none;
	}

	&[type="date"],
	&[type="datetime"],
	&[type="datetime-local"],
	&[type="email"],
	&[type="month"],
	&[type="number"],
	&[type="password"],
	&[type="search"],
	&[type="tel"],
	&[type="text"],
	&[type="time"],
	&[type="url"],
	&[type="week"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}

textarea {
	min-height: 150px;
	overflow: auto;
	resize: vertical;
}


.password-wrapper {
	display: inline-block;
	position: relative;
	margin-bottom: $spacing / 2;
	width: 100%;
	vertical-align: top;
	@include border-radius($radius);
	overflow: hidden;

	input {
		display: block;
		margin: 0;
		width: 100%;
	}

	.password-meter-mask {
		display: block;
		position: absolute;
		margin: 0 auto;
		width: 0;
		height: 2px;
		bottom: 0;
		overflow: hidden;
		z-index: 10;
	}

	.password-meter {
		display: block;
		position: relative;
		width: 0;
		height: 5px;
		@include background-image(linear-gradient(to right, #ee4444, #ffaa22, #66cc22));
	}
}

.input-group {
	display: block;
	position: relative;
	margin-bottom: $spacing / 2;
	font-size: 0;

	> * {
		@include font-size($fontSize);
	}

	.password-wrapper {
		display: inline-block;
		margin: 0;
		width: 45%;
		@include border-left-radius($radius);
		@include border-right-radius(0);

		input {
			width: 100%;
		}
	}

	input {
		display: inline-block;
		margin: 0;
		width: 45%;
		text-align: center;
		border-radius: 0;

		&:first-child {
			@include border-left-radius($radius);
			@include border-right-radius(0);
		}
		&:last-child {
			@include border-left-radius(0);
			@include border-right-radius($radius);
		}
	}

	.input-addon {
		display: inline-block;
		margin: 0;
		padding: 9px 12px;
		width: 10%;
		color: $c8;
		font-family: $bodyFont;
		@include font-size($fontSize);
		text-align: center;
		border: 1px solid $cd;
		border-left: 0;
		border-right: 0;
		background: $ce;
	}
}


input[type="radio"],
input[type="checkbox"] {
	display: inline-block;
	position: relative;
	margin: 0;
	margin-right: 4px;
	padding: 0;
	width: 16px;
	height: 16px;
	top: 2px;
	left: 0;
	width: auto;
	border: 0;
	background: none;
	vertical-align: middle;

	&:focus,
	&:active {
		@include box-shadow(none);
	}
}

.controller {
	display: block;
	position: relative;
	margin: 0;

	&:active {
		label {
			&:before {
				box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, .15) !important;
			}
		}
	}

	> * {
		display: inline-block;
		vertical-align: middle !important;
	}

	label {
		display: inline-block;
		position: relative;
		margin: 4px 0;
		padding: 0;
		cursor: pointer;
		@include user-select(none);

		> * {
			display: inline-block;
			vertical-align: bottom;
		}

		&:before,
		&:after {
			display: inline-block;
			position: relative;
			content: "";
			margin: 0;
			margin-right: 10px;
			padding: 0;
			width: 32px;
			height: 32px;
			top: 2px;
			text-align: center;
			border: 1px solid $c8;
			@include border-radius(3px);
			background-color: $cf;
			box-shadow: inset 0px 3px 3px 0 rgba(255, 255, 255, .7);
			overflow: hidden;
			vertical-align: bottom;
		}
		&:after {
			display: none;
			float: right;
			margin-left: 10px;
			margin-right: 0;
		}
	}

	input {
		display: none;

		&:checked + label:before,
		&:checked + label:after {
			color: $brand1;
			font-size: 24px;
			border-color: $brand1;
		}
	}

	&.radio {
		label {
			&:before {
				@include border-radius(1000px);
			}
		}

		input[type="radio"] {
			&:checked + label:before {
				font-size: 32px;
				line-height: 0.75;
				content: "\25cf";
			}
		}
	}

	&.checkbox {
		label {
			&:before,
			&:after {
				@include border-radius(3px);
			}
		}

		input[type="checkbox"] {
			&:checked + label:before,
			&:checked + label:after {
				line-height: 1.25;
				content: "\2714";
			}
		}
	}

	&.toggle {
		$tglW: 60px;
		$tglH: 30px;
		$swtSz: $tglH + 2;

		input:not(:checked) + label {
			.toggle-body {
				.toggle-switch {
					left: ($tglW - $swtSz) + 1;
				}

				.toggle-background {
					right: -($tglW - ($swtSz / 2));

					&.toggle-background-negative {
						right: auto;
						left: -10px;
					}
				}
			}
		}

		label {
			&:active {
				.toggle-switch {
					@include transform(scale(.95));
				}
			}

			&:before,
			&:after {
				display: none;
			}


			.toggle-body {
				display: inline-block;
				position: relative;
				margin-right: 5px;
				width: $tglW;
				height: $tglH;
				border-radius: 1000px;
				background: $cf;
			}

			.toggle-switch {
				display: inline-block;
				position: absolute;
				width: $swtSz;
				height: $swtSz;
				top: -1px;
				left: -1px;
				border: 1px solid $c8;
				border-radius: 1000px;
				background-color: $cf;
				@include box-shadow(0 2px 2px rgba(0,0,0,.13));
				z-index: 1;
				@include transition(left $animEasing $animDuration);
			}

			.toggle-track {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border-radius: 1000px;
				overflow: hidden;
			}

			.toggle-background {
				position: absolute;
				width: $tglW - ($swtSz / 2) + 10;
				top: 0;
				right: -10px;
				bottom: 0;
				background: $notifySuccessBgColor url('../img/icons/icon-toggle-check.png') center center no-repeat;
				@include transition(left $animEasing $animDuration, right $animEasing $animDuration);
			}
			.toggle-background-negative {
				left: -($tglW - ($swtSz / 2));
				right: auto;
				background: $notifyFailureBgColor url('../img/icons/icon-toggle-close.png') center center no-repeat;
			}
		}
	}
}


.button,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	display: inline-block;
	position: relative;
	margin: 2px auto;
	padding: ($spacing / 2) ($spacing / 1.5);
	min-width: 42px;
	color: $fontColor;
	font-family: $bodyFont;
	@include font-size($fontSize);
	text-align: center;
	text-decoration: none !important;
	border: 0;
	@include border-radius($radius);
	@include box-shadow(inset 0 0 0 1px rgba(0, 0, 0, 0.15));
	background: $ce;
	cursor: pointer;
	@include appearance(none);
	@include background-clip(padding-box);
	@include user-select(none);
	white-space: nowrap;
	outline: 0;
	vertical-align: middle;

	&:hover {
		background-color: $cd;
	}
	&:active,
	&:visited {
		background-color: $ce;
	}


	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&:invalid {
		@include box-shadow(none);
	}


	&.primary {
		color: $cf;
		background-color: $brand1;

		&:hover {
			background-color: $brand2;
		}
		&:active,
		&:visited {
			background-color: $brand1;
		}
	}

	&.secondary {
		color: $cf;
		background-color: $brand2;

		&:hover {
			background-color: $brand1;
		}
		&:active,
		&:visited {
			background-color: $brand2;
		}
	}
}

button {
	*padding-top: 1px; // IE7
	*padding-bottom: 1px;
}


.button[disabled],
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
	color: $c8 !important;
	border-color: $cd !important;
	border-style: dotted !important;
	background-color: $ce !important;
	box-shadow: none !important;
	cursor: default !important;
	@include box-shadow(none);
	@include user-select(none);

	&::-webkit-input-placeholder {
		color: $cd;
	}
	&::-moz-placeholder {
		color: $cd;
	}
	&:-moz-placeholder {
		color: $cd;
	}
	&:-ms-input-placeholder {
		color: $cd;
	}
	&.placeholder-text,
	&.placeholder_text {
		color: $cd;
	}
}

select[size],
select[multiple] {
	padding: 0;
	height: auto;

	option {
		padding: 9px 12px;
	}
}

select[size="0"],
select[size="1"] {
	padding: 9px 12px;
	height: auto;

	option {
		padding: 0 15px;
	}
}


optgroup {
	color: black;
	font-style: normal;
	font-weight: normal;

	&::-moz-focus-inner { // Kill phantom spacing and dotted border that appears in Firefox.
		border: 0;
		padding: 0;
	}
}



// Custom Elements

// Dropdown

.dropdown-wrapper {
	display: block;
	position: relative;
	color: $c2;
	margin: 0;
	margin-top: 5px;
	margin-bottom: $spacing / 2;
	padding: 0;
	width: 100%;
	font-family: $bodyFont;
	@include font-size($fontSize);
	text-align: left;
	vertical-align: top;
	cursor: pointer;
	@include user-select(none);
	@include background-clip(padding-box);
	overflow: hidden;
	outline: 0;
	z-index: 20;

	&:focus {
		.dropdown-current,
		.dropdown {
			@include box-shadow($inputFocusColor 0 0 0 0);
		}
	}

	&:hover,
	&.active {
		.dropdown-arrow {
			color: $cf;
			background-color: $brand2;
		}
	}
	&.active {
		overflow: visible;
		z-index: 90;

		.dropdown-current {
			@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
		}
	}

	&:active {
		.dropdown-current,
		.dropdown {
			color: $cf;
		}

		.dropdown-arrow {
			color: $cf;
			background: $brand1;
			box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, .15) !important;
		}
	}


	&.drop {
		.dropdown-current,
		.dropdown-arrow {
			display: block;
		}

		.dropdown-current {
			color: $brand1;
		}

		.dropdown {
			position: absolute;
			width: 99%;
			top: 100%;
			left: 0.5%;
			@include box-shadow(0 3px 4px rgba(0, 0, 0, 0.15));
			@include opacity(0);
			@include transform(translateY(-10px));
			@include transition-property(opacity, transform);
			@include transition-duration($animDuration);
			@include transition-timing-function($animEasing);

			.dropdown-item {
				margin-top: -1px;
				border: 1px solid $cd;
				background: $cf;
			}
		}

		&.active {
			.dropdown {
				@include opacity(1);
				@include transform(translateY(0));
			}
		}
	}

	&.list {
		.dropdown-current,
		.dropdown-arrow {
			display: none;
		}

		.dropdown {
			position: relative;
			border: 1px solid $cd;
			@include border-radius($radius);
			background: $cf;
			overflow: auto;

			.dropdown-item {
				margin-top: 0;
				border-top: 1px solid $cd;
				background: $cf;

				&:first-child {
					border-top: 0;
				}
			}
		}
	}


	select {
		display: none;
		margin-bottom: 0;
	}

	.dropdown-current {
		display: block;
		position: relative;
		padding: 9px 12px;
		border: 1px solid $cd;
		@include border-radius($radius);
		background: $cf;
		cursor: pointer;
		z-index: 30;
	}

	.dropdown-arrow {
		display: none;
		position: absolute;
		margin: 0;
		padding: 0;
		padding: 12px 0;
		width: 42px;
		top: 0;
		right: 0;
		bottom: 0;
		color: $cf;
		@include font-size($fontSize * 0.9);
		text-align: center;
		border: 0 solid rgba(0, 0, 0, 0.4);
		@include border-left-radius(0);
		@include border-right-radius($radius);
		background: $brand1;
		z-index: 50;

		&:before {
			display: inline-block !important;
			position: relative !important;
			margin: 0 !important;
			width: 0 !important;
			height: 100% !important;
			top: 0 !important;
			left: 0 !important;
			content: "" !important;
			vertical-align: middle !important;
		}

		& > * {
			display: inline-block;
			@include font-size($fontSize);
			vertical-align: middle !important;
		}
	}


	.dropdown {
		display: block;
		margin: 0;
		margin-top: 0;
		padding: 0;
		width: 100%;
		z-index: 15;

		.dropdown-item {
			display: block;
			position: relative;
			padding: 9px 12px;
			white-space: nowrap;
			cursor: pointer;

			&:hover {
				color: $cf;
				background: $brand2;
			}

			&:active,
			&.active {
				color: $cf;
				background: $brand1;
			}
		}
	}
}


// File Input

.file-wrapper,
.multifile-wrapper {
	position: relative;
	margin-bottom: $spacing / 2;
	width: 100%;
	border: 0;
	white-space: nowrap;

	&.last {
		.fake-close {
			display: none !important;
		}
	}

	input[type="file"] {
		position: relative;
		margin: 0;
		padding: 9px 12px;
		text-align: right;
		z-index: 5;
		@include opacity(0);
	}

	.fakefile {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border: 0;
		z-index: 10;

		.button,
		button,
		input[type="reset"],
		input[type="submit"],
		input[type="button"] {
			margin-top: 0;
			width: 125px;
			text-align: center;
			@include border-left-radius($radius);
			@include border-right-radius(0);
			z-index: 1;
		}

		.file-result {
			display: block;
			position: absolute;
			padding: 9px;
			padding-left: 140px;
			padding-right: 44px;
			width: 100%;
			top: 0px;
			left: 0px;
			color: $brand1;
			border: 1px solid $cd;
			@include border-radius($radius);
			background: $cf;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: middle;

			&.loaded {
				color: $c2;
			}
		}

		.fake-close {
			display: block;
			position: absolute;
			margin: 0;
			padding: 0;
			width: 42px;
			top: 0;
			right: 0;
			bottom: 0;
			color: $cf;
			@include font-size($fontSize * 1.75);
			text-align: center;
			border: 0 solid rgba(0, 0, 0, 0.4);
			@include border-left-radius(0);
			@include border-right-radius($radius);
			background: $brand1;
			z-index: 50;

			&:before {
				display: inline-block !important;
				position: relative !important;
				margin: 0 !important;
				width: 0 !important;
				height: 100% !important;
				top: 0 !important;
				left: 0 !important;
				content: "" !important;
				vertical-align: middle !important;
			}

			& > * {
				display: inline-block;
				@include font-size($fontSize);
				vertical-align: middle !important;
			}
		}
	}
}


// Autocomplete

$itemHeight: 46;
$itemQty: 10;

.autocomplete-wrapper {
	display: block;
	position: relative;
	color: $c2;
	margin: 0;
	margin-top: 2px;
	margin-bottom: $spacing / 2;
	padding: 0;
	width: 100%;
	font-family: $bodyFont;
	@include font-size($fontSize);
	text-align: left;
	vertical-align: top;
	cursor: pointer;
	@include user-select(none);
	@include background-clip(padding-box);
	outline: 0;

	ul {
		display: block;
		position: absolute;
		margin: 0;
		padding: 0;
		width: 99%;
		max-height: ($itemHeight * $itemQty) + px;
		top: 100%;
		left: 0.5%;
		list-style: none;
		@include box-shadow(0 4px 8px rgba(0, 0, 0, 0.25));
		overflow: auto;
		visibility: hidden;
		z-index: -1;
		@include opacity(0);
		@include transform(translateY(-10px));
		@include transition-property(opacity, transform);
		@include transition-duration($animDuration);
		@include transition-timing-function($animEasing);

		&.active {
			@include opacity(1);
			@include transform(translateY(0));
			visibility: visible;
			z-index: 9999;
		}

		li {
			display: none;
			position: relative;
			margin: 0;
			margin-top: -1px;
			padding: 9px 12px;
			border: 1px solid $ce;
			background: $cf;
			cursor: pointer;

			&:hover {
				color: $cf;
				background: $brand1;

				* {
					color: $cf !important;
				}
			}

			&:active,
			&.active {
				color: $cf;
				background: $brand2;

				* {
					color: $cf !important;
				}
			}

			&.selected {
				display: block;
			}
		}
	}
}



// Validation

.input-validation-error {
	border: 2px solid $validationFailureBorderColor;
}
.field-validation-error {
	display: block;
	margin-top: 5px;
	color: $validationFailureFontColor;
	@include font-size($fontSize / 1.1);
}

form * {
	&[required] {
		&.valid {
			color: $validationSuccessFontColor;
			border-color: $validationSuccessBorderColor;
			background: $validationSuccessBgColor;

			&::-webkit-input-placeholder {
				color: $validationSuccessFontColor;
			}
			&::-moz-placeholder {
				color: $validationSuccessFontColor;
			}
			&:-moz-placeholder {
				color: $validationSuccessFontColor;
			}
			&:-ms-input-placeholder {
				color: $validationSuccessFontColor;
			}
			&.placeholder-text,
			&.placeholder_text {
				color: $validationSuccessFontColor;
			}
		}
		&.invalid {
			color: $validationFailureFontColor;
			border-color: $validationFailureBorderColor;
			background: $validationFailureBgColor;

			&::-webkit-input-placeholder {
				color: $validationFailureFontColor;
			}
			&::-moz-placeholder {
				color: $validationFailureFontColor;
			}
			&:-moz-placeholder {
				color: $validationFailureFontColor;
			}
			&:-ms-input-placeholder {
				color: $validationFailureFontColor;
			}
			&.placeholder-text,
			&.placeholder_text {
				color: $validationFailureFontColor;
			}
		}
	}
}


@media (#{-webkit-min-device-pixel-ratio}: #{0}) { // Tweaks for Safari + Chrome.

	select[size],
	select[multiple],
	select[multiple][size] {
		padding-right: 3px;
		background-image: none;
	}

	select,
	select[size="0"],
	select[size="1"] { // Base64 encoded "../images/select_arrow.gif"
		padding-right: 20px;
		// background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
		background-repeat: no-repeat;
		background-position: right center;
	}

	::-webkit-validation-bubble-message {
		-webkit-box-shadow: none;
		box-shadow: none;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
		border: 1px solid;
		border-color: #747474 #5e5e5e #4f4f4f;
		color: white;
		font: 13px / 17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
		overflow: hidden;
		padding: 15px 15px 17px;
		text-shadow: black 0 0 1px;
		height: 16px;
	}

	::-webkit-validation-bubble-arrow,
	::-webkit-validation-bubble-top-outer-arrow,
	::-webkit-validation-bubble-top-inner-arrow {
		-webkit-box-shadow: none;
		box-shadow: none;
		background: #666666;
		border: 0;
	}

}
