// Grid System

.row {
	display: block;
	position: relative;
	font-size: 0;

	> * {
		@include font-size($fontSize);
	}

	.column {
		display: inline-block;
		position: relative;
		margin: 0;
		padding: 0;
		padding-left: $gutter;
		width: 100%;
		vertical-align: top;

		&:first-child {
			padding-left: 0;
		}

		@for $i from 1 through $columns {
			&[data-span="#{$i}"] {
				width: percentage($i / $columns);
			}
		}
	}

	.cell {
		display: block;
		position: relative;
		padding: $spacing / 2;

		&.double {
			padding: $spacing * 1.5;
		}
	}
}

.debug {
	.column {
		// background: $ce;
	}
	.cell {
		margin: 2px;
		border: 1px dashed $cd;
		background: $ce;
	}
}