// Responsive

@media screen and (max-width: $screenDesktop) {

	.wrapper {
		width: 100%;
	}


	// Map

	.map-wrapper {
		height: 60vw;
	}

}



@media screen and (min-width: ($screenTablet + 1)) {

	.mobile-show {
		display: none !important;
	}

	.table-mirror {
		display: none;
	}

}



@media screen and (max-width: $screenTablet) {

	.mobile-hide {
		display: none !important;
	}


	// Font sizes

	.structure.clean {
		@include font-size($fontSize / 1.1);
	}


	// Widths

	.column {
		padding-left: 0 !important;
		padding-right: 0 !important;
		width: 100% !important;
	}

	.button,
	button,
	input[type="reset"],
	input[type="submit"],
	input[type="button"] {
		margin-bottom: 4px;
		width: 100% !important;
	}


	// Notification

	.notification {
		width: 96%;
	}


	// Forms

	input,
	select,
	textarea,
	.input-addon,
	.password-wrapper,
	.file-wrapper,
	.dropdown-wrapper {
		width: 100%;
	}

	input[type="radio"],
	input[type="checkbox"] {
		width: auto;
	}

	.input-group {
		input {
			text-align: left;

			&:first-child {
				@include border-top-radius($radius);
				@include border-bottom-radius(0);
			}
			&:last-child {
				@include border-top-radius(0);
				@include border-bottom-radius($radius);
			}
		}

		.input-addon {
			text-align: left;
			border: 1px solid $cd;
			border-top: 0;
			border-bottom: 0;
		}
	}


	// Tables

	.table-original {
		display: none;
	}

	table {
		caption {
			@include font-size($fontSize);
			text-align: left;
		}
	}


	// Tooltips

	.tooltip {
		cursor: default;
	}


	// Slider

	.slider {
		&:hover {
			.slider-arrow {
				@include opacity(1);
			}
		}
	}

	.slider-arrow {
		@include opacity(1);

		&.slider-arrow-prev {
			margin-left: 0;
		}
		&.slider-arrow-next {
			margin-right: 0;
		}
	}

}



@media screen and (max-width: ($screenMobileL - 1)) {



}



@media screen and (max-width: ($screenMobileS - 1)) {

}
