// Responsive

@media screen and (min-width: $screenWide + 1) {

}



@media screen and (max-width: $screenWide) {

	.search-results {
		&[data-view="grid"] {
			.search-item {
				width: percentage(3 / 12) - 2;
			}
		}
	}

}



@media screen and (min-width: $screenDesktop + 1) {

}



@media screen and (max-width: $screenDesktop) {

	.wrapper {
		width: 100%;
	}


	// Map

	.map-wrapper {
		height: 60vw;
	}


	// Search

	.search-results {
		&[data-view="grid"] {
			.search-item {
				width: percentage(4 / 12) - 2;
			}
		}
	}

}



@media screen and (min-width: ($screenTablet + 1)) {

	.mobile-show {
		display: none !important;
	}

	.table-mirror {
		display: none;
	}

}



@media screen and (max-width: $screenTablet) {

	.mobile-hide {
		display: none !important;
	}


	// Font sizes

	.structure.clean {
		@include font-size($fontSize / 1.1);
	}


	// Widths

	.column {
		width: 100% !important;

		@for $i from 1 through ($columns / 4) {
			&[data-span="#{$i}"] {
				width: 50% !important;
			}
		}
	}

	.button,
	button,
	input[type="reset"],
	input[type="submit"],
	input[type="button"] {
		margin-bottom: 4px;
		width: 100% !important;
	}


	// Forms

	input,
	select,
	textarea,
	.input-addon,
	.password-wrapper,
	.file-wrapper,
	.dropdown-wrapper {
		width: 100% !important;
	}

	input[type="radio"],
	input[type="checkbox"] {
		width: auto;
	}

	.input-group {
		input {
			text-align: left;

			&:first-child {
				border-top-radius: $radius;
				border-bottom-radius: 0;
			}
			&:last-child {
				border-top-radius: 0;
				border-bottom-radius: $radius;
			}
		}

		.input-addon {
			text-align: left;
			border: 1px solid $cd;
			border-top: 0;
			border-bottom: 0;
		}
	}

	.multifile-info {
		display: none !important;
	}


	// Search

	.search-results {
		&[data-view="grid"] {
			.search-item {
				width: percentage(6 / 12) - 2;
			}
		}
		&[data-view="list"] {
			.search-item {
				padding-left: 25%;

				.img {
					width: 25%;
				}
			}
		}
	}


	// Tables

	.table-original {
		display: none;
	}

	table {
		caption {
			@include font-size($fontSize);
			text-align: left;
		}
	}


	// Notification

	.notification {
		width: 96%;
	}


	// Tooltips

	.tooltip {
		cursor: default;
	}


	// Slider

	.slider {
		&:hover {
			.slider-arrow {
				opacity: 1;
			}
		}
	}

	.slider-arrow {
		opacity: 1;

		&.slider-arrow-prev {
			margin-left: 0;
		}
		&.slider-arrow-next {
			margin-right: 0;
		}
	}


	// Twitter

	[data-twitter] {
		&.twitter-main {
			.twitter-follow {
				position: relative !important;
				margin: ($spacing / 1.5) auto 0 !important;
				top: 0;
				right: 0;
			}
		}
	}

}



@media screen and (max-width: ($screenMobileL - 1)) {


	// Columns

	.column {
		width: 100% !important;

		@for $i from 1 through ($columns / 4) {
			&[data-span="#{$i}"] {
				width: 100% !important;
			}
		}
	}


	// Search

	.search-results {
		&[data-view="grid"] {
			.search-item {
				width: auto;
			}
		}
	}


}



@media screen and (max-width: ($screenMobileS - 1)) {

}
