.search-results {
	display: block;
	position: relative;
	margin: ($spacing / 2) 0;
	padding: 0.5%;
	border-radius: $radius;
	border: 1px dashed $cd;
	background-color: $cf;

	&.no-results {
		padding: ($spacing / 1.8);
		@include font-size($fontSize);

		&:before {
			content: "Your search returned no results. Tweak it and try again."
		}
	}

	&.loading {
		height: 64px;
		background: transparent url('../img/loader.gif') no-repeat center center;
	}

	.search-item {
		display: inline-block;
		margin: 0.5%;
		padding: $spacing / 2;
		width: 24%;
		border-radius: $radius;
		border: 1px solid $cd;
		background-color: $cf;
		vertical-align: top !important;
		@include opacity(1);
		@include transform(scale(1) translateY(0));
		@include transition(all $animDuration $animEasing);

		&.loading {
			@include opacity(0);
			@include transform(scale(1.1) translateY(30px));
		}

		img {
			display: block;
			position: relative;
			margin-bottom: 5px;
		}
		.title {
			display: block;
			position: relative;
			font-family: $headingFont;
		}
		.date {
			display: block;
			position: relative;
			color: $c8;
			@include font-size($fontSize / 1.2);
		}
		.summary {
			display: block;
			position: relative;
			margin: ($spacing / 2) 0;
			@include font-size($fontSize / 1.1);
		}
		.type {
			display: block;
			position: relative;
			color: $brand1;
			@include font-size($fontSize / 1.2);
		}
		.categories {
			display: block;
			position: relative;
			color: $brand2;
			@include font-size($fontSize / 1.2);
		}
		.tags {
			display: block;
			position: relative;
			color: $brand3;
			@include font-size($fontSize / 1.2);
		}
	}
}