// Notification

.notification {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0 $spacing;
	padding-right: 100 + $spacing !important;
	width: auto;
	max-height: 0;
	color: $white;
	font-weight: bold;
	background: $primaryColor;
	@include opacity(0);
	overflow: hidden;
	z-index: 120;

	@include transition-property(padding, max-height, opacity);
	@include transition-duration($duration);
	@include transition-timing-function($easing);

	&.active {
		padding: $spacing;
		max-height: 350px;
		@include opacity(1);
	}

	&[data-type="bar"] {
		position: relative;
		width: 100%;
		box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.15);
	}

	&[data-type="float"] {
		position: fixed;
		top: ($spacing / 2) + $headerHeight;
		right: $spacing / 2;
		left: $spacing / 2;
		@include border-radius($radius);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	}

	&.success {
		background: $successNotifyBg;
	}
	&.warning {
		background: $warningNotifyBg;
	}
	&.failure {
		background: $failureNotifyBg;
	}


	a {
		color: $white !important;
		text-decoration: underline !important;
	}

	.notification-close {
		display: block;
		position: absolute;
		margin: 0;
		margin-top: -24px;
		width: 100px;
		height: 48px;
		top: 50%;
		right: $spacing / 2;
		border: 0 !important;
	}
}