// Notification

.notification {
	display: block;
	position: fixed;
	margin: 0 2%;
	padding: $spacing;
	width: 310px;
	top: $headerHeight;
	color: $white;
	background: $primaryColor;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	@include opacity(0);
	cursor: pointer;
	overflow: hidden;
	z-index: 120;

	@include transform(translateY(-100%));

	@include transition-property(transform, top, opacity);
	@include transition-duration($duration);
	@include transition-timing-function($easing);

	&:hover {
		background: $secondaryColor;
	}

	&.active {
		@include opacity(1);
		@include transform(translateY(0));
	}

	&.success {
		background: $successNotifyBg;
	}
	&.warning {
		background: $warningNotifyBg;
	}
	&.failure {
		background: $failureNotifyBg;
	}


	a {
		color: $white !important;
		text-decoration: underline !important;
	}

	.notification-close {
		display: block;
		position: absolute;
		margin: 0;
		width: 16px;
		height: 16px;
		top: $spacing / 2;
		right: $spacing / 2;
		border: 0 !important;

		.icon {
			width: 100%;
			height: 100%;
			top: -3px;
		}
	}
}