// Main Container

.slider {
	display: block;
	position: relative;
	margin: 0 auto !important;
	padding: 0 !important;
	width: 100%;

	&:hover {
		.slider-arrow {
			@include opacity(0.75);

			&:hover {
				@include opacity(1);
			}
			&:active {
				@include opacity(0.75);
			}

			&.slider-arrow-prev {
				margin-left: 0;
			}
			&.slider-arrow-next {
				margin-right: 0;
			}
		}
	}
}



// The whole shebang

.slider-container-wrapper {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;

	.slider-movable {
		display: block;
		position: relative;
		left: 0;
		font-size: 0;
		white-space: nowrap;
		cursor: -webkit-grab;

		@include transform(translateX(0));

		> * {
			@include font-size($defaultFontSize);
		}
	}

	.slider-container {
		display: inline-block;
		position: relative;
		padding: $spacing / 2;
		width: 100%;
		background-color: $primaryColor;
		vertical-align: top;
		overflow: hidden;
		white-space: normal;
		visibility: hidden;

		&:first-child {
			visibility: visible;
		}

		> img {
			display: block;
			position: relative;
			width: 100%;
			height: auto;
			top: 0;
		}
	}
}



// Arrow Navigation

$arrowDiameter: 48px;

.slider-arrow {
	display: none;
	position: absolute;
	margin-top: -($arrowDiameter / 2);
	padding: 15px 0;
	width: $arrowDiameter;
	height: $arrowDiameter;
	top: 50%;
	color: $primaryColor;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: $arrowDiameter - 8;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	background: rgba(255, 255, 255, 0.8);
	cursor: pointer;
	z-index: 50;
	vertical-align: middle;
	@include opacity(0);
	@include user-select(none);
	@include transition-property(margin, opacity);
	@include transition-duration($duration);
	@include transition-timing-function($easing);

	&.slider-arrow-prev {
		float: left;
		left: 0;
		margin-left: -5%;
	}
	&.slider-arrow-next {
		float: right;
		right: 0;
		margin-right: -5%;
	}

	span {
		display: block;
		position: relative;
		margin-top: -15px;
		@include opacity(0.5);
	}
}




// Bullet Navigation (if navContainer is not defined)

$bulletDiameter: 16px;

.slider-nav {
	display: block;
	position: relative;
	margin: ($spacing / 2) 0 0;
	padding: 0;
	width: 100%;
	height: $bulletDiameter;
	text-align: center;
	font-size: 0;
	cursor: default;

	.slider-bullet {
		display: inline-block;
		position: relative;
		margin: 0 4px;
		width: $bulletDiameter;
		height: $bulletDiameter;
		background-color: $secondaryColor;
		border-radius: $bulletDiameter;
		@include opacity(0.75);
		@include user-select(none);
		cursor: pointer;

		&:hover {
			@include opacity(1);
		}

		&:active,
		&.active,
		&:focus {
			background-color: $primaryColor;
			@include opacity(1);
		}
	}
}