// Documentation

$sidebarWidth: 250px;

body.sidebar-on {
	overflow-x: hidden;

	.main {
		&.docs {
			left: $sidebarWidth / 2;

			.wrapper {
				opacity: 0.15;
			}

			.sidebar {
				transform: translateX(0);

				.sidebar-trigger {
					background-color: $c1;
					transform: rotate(-180deg);
				}
			}
		}
	}
}

.main {
	&.docs {
		margin-left: $sidebarWidth;
		left: 0;
		transition: all $duration $easing;

		.wrapper {
			padding-left: floor($spacing * 4);
			padding-right: floor($spacing * 4);
			transition: opacity $duration $easing;
		}

		h1 {
			padding: 0;
		}
	}
}

.sidebar {
	display: block;
	position: fixed;
	margin: 0;
	padding: $spacing 0;
	width: $sidebarWidth;
	top: $headerHeight;
	left: 0;
	bottom: 0;
	background-color: $c3;
	z-index: 70;
	transition: transform $duration $easing;

	> * {
		padding: 0 $spacing;
	}

	.logo {
		display: inline-block;
		position: relative;
		margin: 0 auto;
		margin-right: floor($spacing / 2);
		padding: floor($spacing / 2);
		width: 64px;
		height: 64px;
		background-color: rgba($cf, 0.75);
		overflow: visible;
		@extend .circle;

		img {
			width: 100%;
			height: 100%;
		}
	}

	> a {
		@extend .valign-middle;
	}

	h2 {
		display: inline-block;
	}

	.sidebar-trigger {
		display: none;
		position: absolute;
		padding: 0;
		margin-top: -23px;
		margin-left: floor($spacing / 2);
		width: 46px;
		height: 46px;
		left: 100%;
		top: 50%;
		color: $cf;
		font-size: $fontSize * 1.5 + rem;
		text-align: center;
		@extend .circle;
		background-color: $color1;
		cursor: pointer;
		z-index: 10;
		opacity: 0.85;
		transition: all $duration $easing;

		&:hover,
		&:active {
			border-color: $color2;
			background-color: $color2;
		}

		.icon {
			display: block;
			position: absolute;
			margin-top: -10px;
			margin-left: -10px;
			width: 20px;
			height: 20px;
			top: 50%;
			left: 50%;
		}
	}


	a {
		display: block;
		margin-bottom: $spacing;
		padding: 0 $spacing;
	}


	h1, h2, h3, h4, h5, h6 {
		padding: 0;
		color: $cd !important;
	}

	h4 {
		padding: 0 $spacing;
	}


	nav {
		display: block;
		position: relative;
		margin: $spacing 0;
		padding: 0 floor($spacing / 1.5) floor($spacing / 1.5);
		list-style: none;
		border-top: 1px solid $c3;
		overflow: auto;

		.selected {
			a {
				&.core {
					background-color: $color1 !important;
				}
				&.sub {
					display: block;
				}
			}
		}

		a {
			display: block;
			@extend .button;
			@extend .secondary;
			padding-left: floor($spacing / 2);
			padding-right: floor($spacing / 2);
			text-align: left;
			background-color: $c4;
			margin-top: 0;
			margin-bottom: floor($spacing / 4);

			&.core {
				font-size: $fontSize + rem;
			}
			&.sub {
				display: none;
				margin-left: 22px;
				padding: 5px 10px;
				font-size: $fontSize / 1.1 + rem;
				background-color: $c5;

				&.visible {
					display: block;
				}
			}

			&:hover,
			&.active {
				background-color: $color1 !important;
			}
			&:active {
				background-color: $color2 !important;
			}
			&:focus {
				box-shadow: none !important;
			}
		}
	}
}

.separator {
	display: block;
	position: relative;
	margin: floor($spacing * 2) 0 floor($spacing * 1.5);
	width: 50%;
	height: 0;
	border-top: 5px solid $color1;
}

pre {
	color: $cd;

	.folder { color: #CCAAEE; }
	.file { font-style: italic; }
	.system { color: #FF6666; }
	.emphasis { color: #CCAAEE; }
	i {
		margin-right: 3px;
		color: $c5;
		font-style: normal;
		font-size: $fontSize / 1.35 + rem;
		letter-spacing: -2px !important;

		&:before {
			display: inline;
			position: relative;
			margin: 0;
			margin-right: -2px;
			padding: 0;
			font-size: $fontSize * 1.1 + rem;
			content: "|";
		}
	}
}



// Widgets

.icon-wrapper {
	font-size: 0;

	.icon-container {
		display: inline-block;
		position: relative;
		margin: 0.5%;
		padding: 10px;
		width: 5.666%;
		border: 1px solid $cd;
		border-radius: $radius;
		background-color: $ce;

		.icon {
			margin: 0;
			width: 100%;
			height: 100%;
			@include svgColor($color1);
		}
	}
}



// Form

.button {
	&.notify {
		@extend .primary;
		@extend .circle;

		width: 42px;
		height: 42px;
		padding: floor($spacing / 2);
		font-size: $fontSize + rem !important;
		font-weight: bold;

		.icon {
			top: 2px;
		}

		&.success {
			background-color: $successBgColor;
		}
		&.warning {
			background-color: $warningBgColor;
		}
		&.failure {
			background-color: $failureBgColor;
		}
	}
}

.card-wrapper {
	@extend .framed;
	margin: $spacing 0;
	border-radius: $radius;

	label {
		white-space: nowrap;
	}

	.column {
		vertical-align: bottom;
	}

	.card-type {
		display: inline-block;
		position: relative;
		@extend .card;
		margin: 0 auto;
		padding: floor($spacing / 4);
		vertical-align: bottom;

		> * {
			margin: 0 auto;
			height: 36px;
			border-radius: $radius;
		}
	}

	.payment {
		.column {
			text-align: center;

			img {
				margin: 0 auto;
				width: 100%;
			}
		}
	}
}

.form-info {
	margin-bottom: floor($spacing / 2);
	color: $c2;
	font-size: $fontSize / 1.1 + rem;
}

.form-loader,
.icon.form-done {
	display: none;
	position: relative;
	margin: $spacing auto 2px;
	padding: 0;
	width: 42px;
	height: 42px;
	@include svgColor($color1);
	vertical-align: middle;
}



// Responsive

@media screen and (max-width: $scrDeskL) {

	// Structural

	.main {
		&.docs {
			margin-left: 0;
		}

		.sidebar {
			transform: translateX(-$sidebarWidth);

			.sidebar-trigger {
				display: block !important;
			}
		}
	}

}


@media screen and (max-width: $scrTablL) {

	// Widgets

	.icon-wrapper {
		.icon-container {
			width: 6.666%;
		}
	}

}


@media screen and (max-width: $scrMoblL) {

	// Structural

	.main {
		&.docs {
			.wrapper {
				padding-left: $spacing;
				padding-right: $spacing;
			}
		}
	}

}