// General

$spc: 20px; // Spacing variable user throughout
$rds: 3px; // Radius value




// Grid System

$col: 12; // Number of columns on the grid
$gut: $spc; // Gutter pixel value




// Colours

$c0: #000000;
$c1: #111111;
$c2: #222222;
$c3: #333333;
$c4: #444444;
$c5: #555555;
$c6: #666666;
$c7: #777777;
$c8: #888888;
$c9: #999999;
$ca: #aaaaaa;
$cb: #bbbbbb;
$cc: #cccccc;
$cd: #dddddd;
$ce: #eeeeee;
$cf: #ffffff;


// Branding

$color1: #7C5EB3; // Primary colour
$color2: #0299BF; // Secondary colour
$color3: #E03A36; // Tertiary colour


// Global

$colorBody: $cf; // Body background colour
$colorHeading: $color1; // Heading colour
$colorText: $c2; // Text colour




// Typography

@import url("//fonts.googleapis.com/css?family=Roboto+Slab");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");
@import url("//fonts.googleapis.com/css?family=Ubuntu+Mono");

$fontText: 'Open Sans', sans-serif;
$fontHeading: 'Roboto Slab', serif;
$fontMono: 'Ubuntu Mono', monospace;

$fsz: 1.6; // REM measure. 1.0rem = 10px; Change the root value of pixrem's postcss module on GruntFile.js to this value multiplied by 10.
$lh: $fsz; // Line Height




// Iconography

$iconsize: 18px;




// Forms

$inputFocusColor: rgba($color2, 0.35); // Input focus

$inputBrdrWidth: 1px;
$inputBrdrColor: $cc;
$inputBrdrStyle: solid;


// Validation

$inputSuccessColorText: #008800; // Success text
$inputSuccessColorBorder: #44bb44; // Success border
$inputSuccessColorBg: #eeffee; // Success background

$inputWarningColorText: #dd8800; // Warning text
$inputWarningColorBorder: #ffaa22; // Warning border
$inputWarningColorBg: #aa5500; // Warning background

$inputFailureColorText: #dd0000; // Failure text
$inputFailureColorBorder: #ff7777; // Failure border
$inputFailureColorBg: #fff2f2; // Failure background




// Notification

$notifySuccessColorBg: #44bb44;
$notifyWarningColorBg: #DD8800;
$notifyFailureColorBg: #DD0000;




// Responsive Breakpoints

$scrDeskL: 1280px;
$scrDeskS: 960px;
$scrTablL: 768px;
$scrTablS: 600px;
$scrMoblL: 480px;
$scrMoblS: 320px;




// Animation

$animDuration: 0.25s;
$animEasing: cubic-bezier(0.45, 0, 0.5, 0.95);

// @include transition-property(transform, opacity);
// @include transition-duration($animDuration);
// @include transition-timing-function($animEasing);