// General

$spacing: 20px; // Spacing variable user throughout
$radius: 5px; // Radius value




// Grid System

$columns: 12; // Number of columns on the grid
$gut: $spacing; // Gutter pixel value




// Colours

$c0: #000000;
$c1: #111111;
$c2: #222222;
$c3: #333333;
$c4: #444444;
$c5: #555555;
$c6: #666666;
$c7: #777777;
$c8: #888888;
$c9: #999999;
$ca: #aaaaaa;
$cb: #bbbbbb;
$cc: #cccccc;
$cd: #dddddd;
$ce: #eeeeee;
$cf: #ffffff;


// Branding

$color1: #7C5EB3; // Primary colour
$color2: #0299BF; // Secondary colour
$color3: #E03A36; // Tertiary colour


// Global

$bodyBgColor: $cf; // Body background colour
$headingTextColor: $color1; // Heading colour
$bodyTextColor: $c2; // Text colour




// Typography

@import url("//fonts.googleapis.com/css?family=Roboto+Slab");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");
@import url("//fonts.googleapis.com/css?family=Ubuntu+Mono");

@import url("//fonts.googleapis.com/css?family=Overlock:400,700,900");
@import url("//fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic");
@import url("//fonts.googleapis.com/css?family=Source+Code+Pro:400,500");

@import url("//fonts.googleapis.com/css?family=Comfortaa:400,700,300");
@import url("//fonts.googleapis.com/css?family=Maven Pro:400,700");

$headingFont: 'Maven Pro', serif;
$bodyFont: 'Open Sans', sans-serif;
$monoFont: 'Source Code Pro', monospace;

$fontSize: 1.6; // REM measure. 1.0rem = 10px; Change the root value of pixrem's postcss module on GruntFile.js to this value multiplied by 10.
$lineHeight: $fontSize + 0.2; // Line Height




// Iconography

$iconSize: 18px;




// Forms

$focusColor: rgba($color2, 0.35); // Input focus

$borderWidth: 1px;
$borderColor: $cc;
$borderStyle: solid;


// Validation

$successTextColor: #008800; // Success text
$successBorderColor: #44bb44; // Success border
$successBgColor: #eeffee; // Success background

$warningTextColor: #dd8800; // Warning text
$warningBorderColor: #ffaa22; // Warning border
$warningBgColor: #aa5500; // Warning background

$cfailureTextColor: #dd0000; // Failure text
$cfailureBorderColor: #ff7777; // Failure border
$cfailureBgColor: #fff2f2; // Failure background




// Notification

$notifySuccessBgColor: #44bb44;
$notifyWarningBgColor: #DD8800;
$notifyFailureBgColor: #DD0000;




// Responsive Breakpoints

$scrDeskL: 1280px;
$scrDeskS: 960px;
$scrTablL: 768px;
$scrTablS: 600px;
$scrMoblL: 480px;
$scrMoblS: 320px;




// Animation

$animDuration: 0.25s;
$animEasing: cubic-bezier(0.45, 0, 0.5, 0.95);

// @include transition-property(transform, opacity);
// @include transition-duration($animDuration);
// @include transition-timing-function($animEasing);