// Base

$headerHeight: 0;

header {
	display: block;
	position: relative;
}



// Footer

footer,
.footer {
	display: block;
	position: relative;
	padding: floor($spacing / 1.5) $spacing;
	width: 100%;
	color: $cf;
	background: $color1;
	background-size: cover;
	z-index: 80;

	a {
		display: inline-block;
		color: $cf;

		&:hover,
		&:active,
		&:visited {
			color: $cf;
		}
	}

	.author {
		display: block;
		position: relative;
		float: right;
		margin-left: floor($spacing / 2);
		top: 10px;
		right: 0;
	}

	.social {
		display: block;
		position: relative;
		float: right;
		margin-top: floor($spacing / 2);
		margin-left: floor($spacing / 2);
		padding: 0;

		.icon {
			margin-left: floor($spacing / 2);
			width: 24px;
			height: 24px;
			@include svgColor($cf);
		}

		a {
			text-align: center;

			&:hover {
				.icon {
					@include svgColor($color2);
				}
			}
			&:active {
				.icon {
					@include svgColor($cf);
				}
			}
		}
	}
}



// Responsive

@media screen and (max-width: $scrTablL) {

	// Footer

	.footer,
	footer {
		> a {
			display: block !important;
		}
	}

}



@media screen and (max-width: $scrMoblL) {

	// Footer

	footer {
		.author {
			display: none;
		}
	}

}