@media screen and (max-width: $scrDeskL) {

	header,
	.header {
		nav,
		.nav {
			.nav-item {
				& > * {
					font-size: $fontSize / 1.1 + rem;
				}
			}
		}
	}

	.main {
		&.docs {
			margin-left: 0;
		}

		.sidebar {
			transform: translateX(-$sidebarWidth);

			.sidebar-trigger {
				display: block !important;
			}
		}
	}

}



@media screen and (max-width: $scrDeskS) {

	header,
	.header {
		.logo {
			span {
				display: none;
			}
		}

		nav,
		.nav {
			.nav-item {
				padding: floor($spacing / 2);

				& > * {
					font-size: $fontSize / 1.1 + rem;
				}
			}
		}
	}

}



@media screen and (max-width: $scrTablL) {

	// Nav

	header,
	.header {
		&.active {
			nav,
			.nav {
				transform: translateY(100%);
			}
		}

		.nav-layer {
			border-bottom: 1px solid $ce;
			z-index: 15;
		}

		nav,
		.nav {
			top: auto;
			bottom: 0;
			width: 100%;
			height: auto;
			box-shadow: 0 0 10px rgba($c0, 0.15);
			transform: translateY(0);
			transition: transform $duration $easing;

			.nav-item {
				display: block;
				margin: 3px 0;
				padding: floor($spacing / 1.5) $spacing;
				height: auto;
				vertical-align: baseline;

				& > * {
					font-size: $fontSize + rem;
				}
			}
		}
	}


	// Controls

	.controls > * {
		width: 44px !important;
	}


	// Widgets

	.icon-wrapper {
		.icon-container {
			width: 6.666%;
		}
	}


	.footer,
	footer {
		> a {
			display: block !important;
		}
	}

}



@media screen and (max-width: $scrTablS) {

	.main {
		&.docs {
			.wrapper {
				padding-left: $spacing;
				padding-right: $spacing;
			}
		}
	}

}



@media screen and (max-width: $scrMoblL) {

	.icon-wrapper {
		.icon-container {
			width: 13.266%;
		}
	}

	footer {
		.author {
			display: none;
		}
	}

}



@media screen and (max-width: $scrMoblS) {

	html {
		background-color: $bodyBgColor;
	}

}