@media screen and (max-width: $scrDeskL + $sidebarWidth) {

	.wrapper {
		width: 100%;
	}

}



@media screen and (max-width: $scrDeskL) {

	header,
	.header {
		nav,
		.nav {
			.nav-item {
				padding: $spc floor($spc / 1.5);

				& > * {
					font-size: $fsz / 1.1 + rem;
				}
			}
		}
	}

	.main {
		&.docs {
			padding-left: 0;
		}

		.sidebar {
			left: auto;
			right: 0;
			transform: translateX($sidebarWidth);

			.sidebar-trigger {
				display: block !important;
			}

			h1, h2, h3, h4, h5, h6 {
				text-align: right;
			}
		}
	}

}



@media screen and (max-width: $scrDeskS) {

	header,
	.header {
		.logo {
			span {
				display: none;
			}
		}

		nav,
		.nav {
			.nav-item {
				padding: $spc floor($spc / 2);

				& > * {
					font-size: $fsz / 1.1 + rem;
				}
			}
		}
	}

}



@media screen and (max-width: $scrTablL) {


	// Nav

	header,
	.header {
		position: fixed;

		&.active {
			nav,
			.nav {
				transform: translateY(100%);
			}
		}

		.nav-layer {
			border-bottom: 1px solid $ce;
			z-index: 15;
		}

		nav,
		.nav {
			top: auto;
			bottom: 0;
			width: 100%;
			height: auto;
			transform: translateY(0);
			transition: transform $animDuration $animEasing;

			.nav-item {
				display: block;
				padding: floor($spc / 1.5) $spc;
				height: auto;
				border-left: 0;
				border-bottom: 1px solid $ce;
				vertical-align: baseline;

				& > * {
					font-size: $fsz + rem;
				}
			}
		}
	}


	.controls > * {
		width: 44px !important;
	}


	.icon-wrapper {
		.icon-container {
			width: 6.666%;
		}
	}


	.slider {
		&.full {
			.slide {
				width: 100%;
			}
		}
		&.third {
			.slide {
				margin: 0 1%;
				width: 48%;
			}
		}
		&.fifth {
			.slide {
				margin: 0 0.5%;
				width: 49%;
			}
		}
	}


	.footer,
	footer {
		> a {
			display: block !important;
		}
	}

}



@media screen and (max-width: $scrTablS) {

}



@media screen and (max-width: $scrMoblL) {

	.icon-wrapper {
		.icon-container {
			width: 13.266%;
		}
	}


	.slider {
		&.full {
			.slide {
				width: 100%;
			}
		}
		&.third {
			.slide {
				margin: 0;
				width: 100%;
			}
		}
		&.fifth {
			.slide {
				margin: 0;
				width: 100%;
			}
		}
	}


	footer {
		.author {
			display: none;
		}
	}

}



@media screen and (max-width: $scrMoblS) {

}