<!-- Search result template -->

<div class="search-item loading">
	<a class="img" href="{{url}}" style="background: url({{image}}) no-repeat center center;"></a>
	<div class="type">{{type}}</div>

	<div class="content">
		<a class="title" href="{{url}}">{{title}}</a>
		<div class="date">{{date}}</div>
		<div class="summary">{{summary}}</div>
		<div class="info">
			<div class="categories" data-tooltip="{{categories}}">Categories</div>
			<div class="tags" data-tooltip="{{tags}}">Tags</div>
		</div>
	</div>
</div>