// Brochure

.brochure-trigger {
	display: block;
	margin: 0;

	.brochure-counter {
		display: block;
		position: absolute;
		width: 20px;
		height: 20px;
		top: -5px;
		right: -5px;
		@include font-size($fontSize / 1.2);
		font-weight: 600;
		background-color: $brand2;
		border-radius: 1000px;
	}
}

.brochure-wrapper {
	display: block;
	position: fixed;
	margin-right: 60px;
	padding: $spacing $spacing floor($spacing / 2);
	width: 240px;
	right: 0;
	bottom: 65px;
	border: 1px solid $ce;
	border-radius: $radius;
	background-color: $cf;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
	z-index: 80;
	@include opacity(0);
	transform: scale(0);
	transform-origin: right bottom;
	transition: all $animDuration $animEasing;

	&.active {
		@include opacity(1);
		transform: scale(1);
	}

	.brochure-title {
		padding: 0;
		line-height: 1;
	}

	.brochure-item-wrapper {
		display: block;
		position: relative;
		margin: $spacing (-$spacing) floor($spacing / 2);
		padding: floor($spacing / 2);
		max-height: 230px;
		background-color: $ce;
		overflow: auto;

		.brochure-item {
			display: block;
			position: relative;
			margin: 5px 0;
			padding: floor($spacing / 2);
			padding-right: $spacing + $iconSize;
			color: $cf;
			border-radius: $radius;
			background-color: $brand1;
			cursor: pointer;

			@extend .valign-middle;

			&:hover {
				background-color: $brand2;
			}
			&:active {
				background-color: $brand1;
			}

			.icon-close {
				display: block;
				position: absolute;
				margin-top: -9px;
				top: 50%;
				right: floor($spacing / 2);
				@include svgColor($cf);
			}
		}
	}

	.brochure-links {
		display: block;
		position: relative;
		text-align: left;

		.brochure-cta {
			display: block;
			position: relative;
			padding: 5px 0;
			cursor: pointer;

			@extend .valign-middle;

			&:hover span {
				text-decoration: underline;
			}

			.icon {
				margin-right: 10px;
				width: 16px;
				height: 16px;
				@include svgColor($brand1);
			}
		}
	}
}