// Notification

.notification {
	display: block;
	position: fixed;
	margin: 0 2%;
	padding: $spacing ($spacing * 1.75) $spacing $spacing;
	width: 310px;
	top: $headerHeight;
	color: $cf;
	background: $brand1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	@include opacity(0);
	cursor: pointer;
	overflow: hidden;
	z-index: 120;

	transform: translateY(-100%);

	transition-property: transform, top, opacity;
	transition-duration: $animDuration;
	transition-timing-function: $animEasing;

	&:hover {
		background: $brand2;
	}

	&.active {
		@include opacity(1);
		transform: translateY(0);
	}

	&.success {
		background: $notifySuccessBgColor;
	}
	&.warning {
		background: $notifyWarningBgColor;
	}
	&.failure {
		background: $notifyFailureBgColor;
	}


	a {
		color: $cf !important;
		text-decoration: underline !important;
	}

	.notification-close {
		display: block;
		position: absolute;
		margin: 0;
		width: 16px;
		height: 16px;
		top: $spacing / 2;
		right: $spacing / 2;
		border: 0 !important;

		.icon {
			width: 100%;
			height: 100%;
			top: -3px;
		}
	}
}