// Notification

.notification-wrapper {
	display: block;
	position: absolute;
	margin: floor($spacing / 2);
	width: 300px;
	top: 100%;
	right: 0;
	z-index: 140;

	&.cookie {
		position: fixed;
		top: auto;
		bottom: 0;

		.notification {
			margin: 0;
			transform: translateX(0) translateY(40%);

			&.active {
				@include opacity(1);
				transform: translateX(0) translateY(0);
				z-index: 900;
			}
		}
	}
}

.notification {
	display: block;
	position: relative;
	margin: 0 0 5px 0;
	padding: $spacing floor(($spacing * 1.5) + 20) $spacing $spacing;
	width: 100%;
	top: 0;
	left: 0;
	color: $cf;
	border-radius: $radius;
	background: $brand1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	@include opacity(0);
	cursor: pointer;
	overflow: hidden;
	z-index: 1000;

	transform: translateX(40%);

	transition-property: transform, top, opacity;
	transition-duration: $animDuration;
	transition-timing-function: $animEasing;

	&:hover {
		background: $brand2 !important;
	}

	&.active {
		@include opacity(1);
		transform: translateX(0);
		z-index: 900;
	}

	&.success {
		background: $notifySuccessBgColor;
	}
	&.warning {
		background: $notifyWarningBgColor;
	}
	&.failure {
		background: $notifyFailureBgColor;
	}


	a {
		color: $cf !important;
		text-decoration: underline !important;
	}

	.notification-close {
		display: block;
		position: absolute;
		margin: 0;
		margin-top: -10px;
		width: 20px;
		height: 20px;
		top: 50%;
		right: $spacing;
		border: 0 !important;

		.icon {
			width: 100%;
			height: 100%;
		}
	}
}