// Main Container

.slider {
	display: block;
	position: relative;
	margin: 0 auto !important;
	padding: 0 !important;
	width: 100%;

	&:hover {
		.slider-arrow {
			opacity: 1;

			&:hover {
				background: $brand1;

				.icon {
					@include svgColor($cf);
				}
			}
			&:active {
				background: $brand2;

				.icon {
					@include svgColor($c3);
				}
			}

			&.slider-arrow-prev {
				margin-left: 0;
			}
			&.slider-arrow-next {
				margin-right: 0;
			}
		}
	}
}



// The whole shebang

.slider-container-wrapper {
	display: block;
	position: relative;
	width: 100%;
	// overflow: hidden;

	.slider-movable {
		display: block;
		position: relative;
		left: 0;
		font-size: 0;
		white-space: nowrap;
		cursor: -webkit-grab;

		transform: translateX(0) translate3d(0, 0, 0);

		> * {
			@include font-size($fontSize);
		}
	}

	.slider-container {
		display: inline-block;
		position: relative;
		margin: 0;
		padding: 2px;
		width: 100%;
		background-color: $brand1;
		vertical-align: top;
		overflow: hidden;
		white-space: normal;
		visibility: hidden;

		&:first-child {
			visibility: visible;
		}

		> img {
			display: block;
			position: relative;
			width: 100%;
			height: auto;
			top: 0;
		}
	}
}



// Arrow Navigation

$arrowDiameter: 48px;

.slider-arrow {
	display: none;
	position: absolute;
	margin-top: -($arrowDiameter / 2);
	padding: 0;
	width: $arrowDiameter;
	height: $arrowDiameter;
	top: 50%;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	z-index: 50;
	vertical-align: middle;
	opacity: 0;
	user-select: none;
	transition: {
		property: margin background opacity;
		duration: $animDuration / 2;
		timing-function: $animEasing;
	}

	&.slider-arrow-prev {
		float: left;
		margin-left: -5%;
		left: 0;
		border-top-right-radius: $radius;
		border-bottom-right-radius: $radius;
	}
	&.slider-arrow-next {
		float: right;
		margin-right: -5%;
		right: 0;
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;
	}

	.icon {
		width: 22px;
		height: 22px;
		@include svgColor($brand1);
	}
}




// Bullet Navigation (if navContainer is not defined)

$bulletDiameter: 16px;

.slider-nav {
	display: block;
	position: relative;
	margin: floor($spacing / 2) 0 0;
	padding: 0;
	width: 100%;
	height: $bulletDiameter;
	text-align: center;
	font-size: 0;
	cursor: default;

	.slider-bullet {
		display: inline-block;
		position: relative;
		margin: 0 4px;
		width: $bulletDiameter;
		height: $bulletDiameter;
		background-color: $brand2;
		border-radius: $bulletDiameter;
		@include opacity(0.75);
		user-select: none;
		cursor: pointer;

		&:hover {
			@include opacity(1);
		}

		&:active,
		&.active,
		&:focus {
			background-color: $brand1;
			@include opacity(1);
		}
	}
}