// Twitter Timeline

[data-twitter] {
	display: block;
	position: relative;
	margin: 5px 0;
	padding: $spacing / 1.5;
	border: 1px solid $cd;
	border-radius: $radius;
	background: $ce;
	overflow: hidden;

	.user {
		position: relative;
		margin-bottom: ($spacing / 2);
		font-size: 0;

		img {
		}

		a {
			width: 100%;
			color: $fontColor;
			text-align: left;
			text-decoration: none;

			span {
				display: block;
				margin: 0;
				margin-right: 10px;
				@include font-size($fontSize * 1.25);

				&[data-scribe="element:screen_name"] {
					margin-top: -4px;
					color: $c8;
					@include font-size($fontSize / 1.2);
				}
			}
		}

		img {
			display: inline-block;
			margin-right: 10px;
			float: left;
			width: 52px;
			height: 52px;
			border: 1px solid $cd;
		}
	}

	&.twitter-main {
		.user {
			display: none;
		}

		.twitter-user .user {
			display: block;
		}

		button {
			position: absolute;
			top: $spacing / 1.5;
			right: $spacing / 1.5;
			margin: 0;
		}
	}
	&.multi {
		button {
			position: relative;
			margin: ($spacing / 1.5) auto 0;
		}
	}


	hr {
		display: block;
		position: relative;
		margin: ($spacing / 2) 0;
		width: 100%;
		height: 0;
		border-bottom: 1px dashed $c8;
		background: none;

		&:first-child {
			display: none;
		}
	}

	p {
		margin: 5px 0;
	}

	.tweet {
		color: $c8;
	}
	.timePosted {
		color: #aaa;
		@include font-size($fontSize / 1.2);
	}
}