// Base

body {
	padding-top: $headerHeight !important;
}

header,
.header {
	display: block;
	position: fixed;
	margin-top: 0;
	padding: 0;
	width: 100%;
	top: 0;
	background: $cf;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	z-index: 150;

	.logo {
		display: inline-block;
		position: relative;
		margin-left: floor($spacing / 1.5);
		padding: floor($spacing / 1.5) 0;
		height: $headerHeight;
		color: $fontColor;
		text-decoration: none !important;
		white-space: nowrap;

		img {
			margin-right: 10px;
			height: 100%;
		}

		span {
			position: relative;
		}
	}

	.nav-trigger {
		position: relative;
		float: right;
		width: 24px;
		height: 24px;
		top: $spacing + 4;
		right: $spacing;
		cursor: pointer;

		.icon {
			width: 100%;
			height: 100%;
			@include svgColor($brand1);
		}
		&:hover {
			.icon {
				@include svgColor($brand2);
			}
		}
		&:active {
			.icon {
				@include svgColor($brand1);
			}
		}
	}

	nav,
	.nav {
		display: block;
		position: relative;
		float: right;
		white-space: nowrap;
		z-index: 10;

		.nav-item {
			display: inline-block;
			padding: $spacing;
			height: $headerHeight;
			border-left: 1px solid $ce;
			font-size: 0 !important;

			@extend .valign-middle;

			&.active {
				color: $cf;
				border-color: $brand1 !important;
				background: $brand1 !important;
				cursor: default;
			}
			&:hover,
			&:active {
				color: $cf;
				border-color: $brand2;
				background: $brand2;
			}
		}
	}

	.scroll-progress {
		display: block;
		position: absolute;
		width: 0;
		height: 2px;
		bottom: -2px;
		font-size: 0;
		background: $brand1;
	}
}



$introBg: "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI2OSIgaGVpZ2h0PSI5NTUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+PHBhdGggZD0iTS0xMTUsLTExM0wtMjA0LDEwNEwxNjEsMTc0WiIgZmlsbD0iI2ZjZmJmZCIgc3Ryb2tlPSIjZmNmYmZkIi8+PHBhdGggZD0iTS0xMTUsLTExM0wxNjEsMTc0TDIxMiwtMTQ4WiIgZmlsbD0iI2YzZjNmOCIgc3Ryb2tlPSIjZjNmM2Y4Ii8+PHBhdGggZD0iTTIxMiwtMTQ4TDE2MSwxNzRMNDkxLDEyMFoiIGZpbGw9IiNlNGU0ZjEiIHN0cm9rZT0iI2U0ZTRmMSIvPjxwYXRoIGQ9Ik0yMTIsLTE0OEw0OTEsMTIwTDQ4NCwtMTYwWiIgZmlsbD0iI2RiZGJlYyIgc3Ryb2tlPSIjZGJkYmVjIi8+PHBhdGggZD0iTTIxMiwtMTQ4TDQ4NCwtMTYwTDEyNDMsLTIyMFoiIGZpbGw9IiNjNmM1ZTAiIHN0cm9rZT0iI2M2YzVlMCIvPjxwYXRoIGQ9Ik00ODQsLTE2MEw0OTEsMTIwTDcyOCwtODRaIiBmaWxsPSIjY2RjYmUzIiBzdHJva2U9IiNjZGNiZTMiLz48cGF0aCBkPSJNNDg0LC0xNjBMNzI4LC04NEwxMjQzLC0yMjBaIiBmaWxsPSIjYmFiM2Q3IiBzdHJva2U9IiNiYWIzZDciLz48cGF0aCBkPSJNNzI4LC04NEw0OTEsMTIwTDY5NiwxNjNaIiBmaWxsPSIjYzdjNWUwIiBzdHJva2U9IiNjN2M1ZTAiLz48cGF0aCBkPSJNNzI4LC04NEw2OTYsMTYzTDk3NCwyMTRaIiBmaWxsPSIjYmJiNWQ4IiBzdHJva2U9IiNiYmI1ZDgiLz48cGF0aCBkPSJNNzI4LC04NEw5NzQsMjE0TDEwNTMsLTc0WiIgZmlsbD0iI2I0YTZkMCIgc3Ryb2tlPSIjYjRhNmQwIi8+PHBhdGggZD0iTTcyOCwtODRMMTA1MywtNzRMMTI0MywtMjIwWiIgZmlsbD0iI2FjOTdjOSIgc3Ryb2tlPSIjYWM5N2M5Ii8+PHBhdGggZD0iTTEwNTMsLTc0TDk3NCwyMTRMMTMwMSwxNTVaIiBmaWxsPSIjYTM4NmMxIiBzdHJva2U9IiNhMzg2YzEiLz48cGF0aCBkPSJNMTA1MywtNzRMMTMwMSwxNTVMMTI0MywtMjIwWiIgZmlsbD0iIzliODBiYSIgc3Ryb2tlPSIjOWI4MGJhIi8+PHBhdGggZD0iTTEyNDMsLTIyMEwxMzAxLDE1NUwxNjAwLC04NFoiIGZpbGw9IiM4YjgwYWIiIHN0cm9rZT0iIzhiODBhYiIvPjxwYXRoIGQ9Ik0xNjAwLC04NEwxMzAxLDE1NUwxNTU3LDE2NVoiIGZpbGw9IiM4MjgwYTMiIHN0cm9rZT0iIzgyODBhMyIvPjxwYXRoIGQ9Ik0xNjAwLC04NEwxNTU3LDE2NUwxNTc0LDM2NloiIGZpbGw9IiM3ZTdlOWMiIHN0cm9rZT0iIzdlN2U5YyIvPjxwYXRoIGQ9Ik0xNjAwLC04NEwxNTc0LDM2NkwxNTkzLDczMloiIGZpbGw9IiM2ODY3OTciIHN0cm9rZT0iIzY4Njc5NyIvPjxwYXRoIGQ9Ik0xNjAwLC04NEwxNTkzLDczMkwxNjM3LDEwODVaIiBmaWxsPSIjNDk0NTg1IiBzdHJva2U9IiM0OTQ1ODUiLz48cGF0aCBkPSJNLTIwNCwxMDRMLTIxNywxMjM0TC0xMzEsNjgzWiIgZmlsbD0iI2MwYjFlMiIgc3Ryb2tlPSIjYzBiMWUyIi8+PHBhdGggZD0iTS0yMDQsMTA0TC0xMzEsNjgzTC05OCw0NTdaIiBmaWxsPSIjZGRkYmY3IiBzdHJva2U9IiNkZGRiZjciLz48cGF0aCBkPSJNLTIwNCwxMDRMLTk4LDQ1N0wxNjEsMTc0WiIgZmlsbD0iI2VmZWZmZCIgc3Ryb2tlPSIjZWZlZmZkIi8+PHBhdGggZD0iTTE2MSwxNzRMLTk4LDQ1N0wyMDYsMzg4WiIgZmlsbD0iI2RhZDlmNCIgc3Ryb2tlPSIjZGFkOWY0Ii8+PHBhdGggZD0iTTE2MSwxNzRMMjA2LDM4OEw0OTEsMTIwWiIgZmlsbD0iI2RhZGFmMSIgc3Ryb2tlPSIjZGFkYWYxIi8+PHBhdGggZD0iTTQ5MSwxMjBMMjA2LDM4OEw0NjQsNTA1WiIgZmlsbD0iI2M0YzNlOCIgc3Ryb2tlPSIjYzRjM2U4Ii8+PHBhdGggZD0iTTQ5MSwxMjBMNDY0LDUwNUw2OTYsMTYzWiIgZmlsbD0iI2MwYmVlMyIgc3Ryb2tlPSIjYzBiZWUzIi8+PHBhdGggZD0iTTY5NiwxNjNMNDY0LDUwNUw3NTQsNDMyWiIgZmlsbD0iI2FiYThkYiIgc3Ryb2tlPSIjYWJhOGRiIi8+PHBhdGggZD0iTTY5NiwxNjNMNzU0LDQzMkw5NzQsMjE0WiIgZmlsbD0iI2FjYTZkNyIgc3Ryb2tlPSIjYWNhNmQ3Ii8+PHBhdGggZD0iTTk3NCwyMTRMNzU0LDQzMkw5ODAsNDM5WiIgZmlsbD0iIzlhOGNjYyIgc3Ryb2tlPSIjOWE4Y2NjIi8+PHBhdGggZD0iTTk3NCwyMTRMOTgwLDQzOUwxMzQ5LDM2MloiIGZpbGw9IiM4YzZmYmUiIHN0cm9rZT0iIzhjNmZiZSIvPjxwYXRoIGQ9Ik05NzQsMjE0TDEzNDksMzYyTDEzMDEsMTU1WiIgZmlsbD0iIzhlNzRiOSIgc3Ryb2tlPSIjOGU3NGI5Ii8+PHBhdGggZD0iTTEzMDEsMTU1TDEzNDksMzYyTDE1NTcsMTY1WiIgZmlsbD0iIzdlNzZhYSIgc3Ryb2tlPSIjN2U3NmFhIi8+PHBhdGggZD0iTTE1NTcsMTY1TDEzNDksMzYyTDE1NzQsMzY2WiIgZmlsbD0iIzZlNmRhMSIgc3Ryb2tlPSIjNmU2ZGExIi8+PHBhdGggZD0iTS05OCw0NTdMLTEzMSw2ODNMMTgyLDY1N1oiIGZpbGw9IiNjMWI5ZTYiIHN0cm9rZT0iI2MxYjllNiIvPjxwYXRoIGQ9Ik0tOTgsNDU3TDE4Miw2NTdMMjA2LDM4OFoiIGZpbGw9IiNjNWMzZWIiIHN0cm9rZT0iI2M1YzNlYiIvPjxwYXRoIGQ9Ik0yMDYsMzg4TDE4Miw2NTdMNDY0LDUwNVoiIGZpbGw9IiNiNWIzZTMiIHN0cm9rZT0iI2I1YjNlMyIvPjxwYXRoIGQ9Ik00NjQsNTA1TDE4Miw2NTdMMzk5LDY3OVoiIGZpbGw9IiNhNTlkZDciIHN0cm9rZT0iI2E1OWRkNyIvPjxwYXRoIGQ9Ik00NjQsNTA1TDM5OSw2NzlMNjg4LDc4OVoiIGZpbGw9IiM5Mzg1YzkiIHN0cm9rZT0iIzkzODVjOSIvPjxwYXRoIGQ9Ik00NjQsNTA1TDY4OCw3ODlMNzU0LDQzMloiIGZpbGw9IiM5MThhY2QiIHN0cm9rZT0iIzkxOGFjZCIvPjxwYXRoIGQ9Ik03NTQsNDMyTDY4OCw3ODlMMTAzMSw3MTBaIiBmaWxsPSIjN2Q2YWJjIiBzdHJva2U9IiM3ZDZhYmMiLz48cGF0aCBkPSJNNzU0LDQzMkwxMDMxLDcxMEw5ODAsNDM5WiIgZmlsbD0iIzgyNzNjMSIgc3Ryb2tlPSIjODI3M2MxIi8+PHBhdGggZD0iTTk4MCw0MzlMMTAzMSw3MTBMMTM1OCw2NjNaIiBmaWxsPSIjNjk0M2E5IiBzdHJva2U9IiM2OTQzYTkiLz48cGF0aCBkPSJNOTgwLDQzOUwxMzU4LDY2M0wxMzQ5LDM2MloiIGZpbGw9IiM2YzUyYWEiIHN0cm9rZT0iIzZjNTJhYSIvPjxwYXRoIGQ9Ik0xMzQ5LDM2MkwxMzU4LDY2M0wxNTc0LDM2NloiIGZpbGw9IiM1ZTU1OWMiIHN0cm9rZT0iIzVlNTU5YyIvPjxwYXRoIGQ9Ik0xNTc0LDM2NkwxMzU4LDY2M0wxNTkzLDczMloiIGZpbGw9IiM0ODQzOGQiIHN0cm9rZT0iIzQ4NDM4ZCIvPjxwYXRoIGQ9Ik0tMTMxLDY4M0wtMjE3LDEyMzRMLTc5LDEwMjJaIiBmaWxsPSIjOTU4MGJjIiBzdHJva2U9IiM5NTgwYmMiLz48cGF0aCBkPSJNLTEzMSw2ODNMLTc5LDEwMjJMMTgyLDY1N1oiIGZpbGw9IiNhYTkxZDAiIHN0cm9rZT0iI2FhOTFkMCIvPjxwYXRoIGQ9Ik0xODIsNjU3TC03OSwxMDIyTDIxMSwxMDE5WiIgZmlsbD0iIzkzNzJiZSIgc3Ryb2tlPSIjOTM3MmJlIi8+PHBhdGggZD0iTTE4Miw2NTdMMjExLDEwMTlMMzk5LDY3OVoiIGZpbGw9IiM5NzgwYzYiIHN0cm9rZT0iIzk3ODBjNiIvPjxwYXRoIGQ9Ik0zOTksNjc5TDIxMSwxMDE5TDM2OCwxMDc4WiIgZmlsbD0iIzdlNjJiMiIgc3Ryb2tlPSIjN2U2MmIyIi8+PHBhdGggZD0iTTM5OSw2NzlMMzY4LDEwNzhMNjg4LDc4OVoiIGZpbGw9IiM3YzVlYjMiIHN0cm9rZT0iIzdjNWViMyIvPjxwYXRoIGQ9Ik02ODgsNzg5TDM2OCwxMDc4TDc3OCwxMDczWiIgZmlsbD0iIzVmNDg5ZSIgc3Ryb2tlPSIjNWY0ODllIi8+PHBhdGggZD0iTTY4OCw3ODlMNzc4LDEwNzNMMTAzMSw3MTBaIiBmaWxsPSIjNjAzYmExIiBzdHJva2U9IiM2MDNiYTEiLz48cGF0aCBkPSJNMTAzMSw3MTBMNzc4LDEwNzNMMTA4NCwxMDAxWiIgZmlsbD0iIzRkMWY5MCIgc3Ryb2tlPSIjNGQxZjkwIi8+PHBhdGggZD0iTTEwMzEsNzEwTDEwODQsMTAwMUwxMjU5LDk2NFoiIGZpbGw9IiM0NDA1ODciIHN0cm9rZT0iIzQ0MDU4NyIvPjxwYXRoIGQ9Ik0xMDMxLDcxMEwxMjU5LDk2NEwxMzU4LDY2M1oiIGZpbGw9IiM0YjFiOGUiIHN0cm9rZT0iIzRiMWI4ZSIvPjxwYXRoIGQ9Ik0xMzU4LDY2M0wxMjU5LDk2NEwxNTkzLDczMloiIGZpbGw9IiMzYTE5N2UiIHN0cm9rZT0iIzNhMTk3ZSIvPjxwYXRoIGQ9Ik0xNTkzLDczMkwxMjU5LDk2NEwxNjM3LDEwODVaIiBmaWxsPSIjMWUwMDY1IiBzdHJva2U9IiMxZTAwNjUiLz48cGF0aCBkPSJNLTc5LDEwMjJMLTIxNywxMjM0TDEyOCwxMzQzWiIgZmlsbD0iIzdkN2M5ZSIgc3Ryb2tlPSIjN2Q3YzllIi8+PHBhdGggZD0iTS03OSwxMDIyTDEyOCwxMzQzTDIxMSwxMDE5WiIgZmlsbD0iIzc1NzNhMiIgc3Ryb2tlPSIjNzU3M2EyIi8+PHBhdGggZD0iTTIxMSwxMDE5TDEyOCwxMzQzTDM5MywxMjQ1WiIgZmlsbD0iIzY4Njg5MyIgc3Ryb2tlPSIjNjg2ODkzIi8+PHBhdGggZD0iTTIxMSwxMDE5TDM5MywxMjQ1TDM2OCwxMDc4WiIgZmlsbD0iIzY0NjI5YiIgc3Ryb2tlPSIjNjQ2MjliIi8+PHBhdGggZD0iTTM2OCwxMDc4TDM5MywxMjQ1TDY1MywxMjc0WiIgZmlsbD0iIzU1NTQ4OSIgc3Ryb2tlPSIjNTU1NDg5Ii8+PHBhdGggZD0iTTM2OCwxMDc4TDY1MywxMjc0TDc3OCwxMDczWiIgZmlsbD0iIzRiNDk4YSIgc3Ryb2tlPSIjNGI0OThhIi8+PHBhdGggZD0iTTc3OCwxMDczTDY1MywxMjc0TDk5NiwxMjY2WiIgZmlsbD0iIzNiMzU3OCIgc3Ryb2tlPSIjM2IzNTc4Ii8+PHBhdGggZD0iTTc3OCwxMDczTDk5NiwxMjY2TDEwODQsMTAwMVoiIGZpbGw9IiMzNDIxN2EiIHN0cm9rZT0iIzM0MjE3YSIvPjxwYXRoIGQ9Ik0xMDg0LDEwMDFMOTk2LDEyNjZMMTI5NCwxMzA0WiIgZmlsbD0iIzIyMDQ2MiIgc3Ryb2tlPSIjMjIwNDYyIi8+PHBhdGggZD0iTTEwODQsMTAwMUwxMjk0LDEzMDRMMTI1OSw5NjRaIiBmaWxsPSIjMjAwMDY3IiBzdHJva2U9IiMyMDAwNjciLz48cGF0aCBkPSJNMTI1OSw5NjRMMTI5NCwxMzA0TDE2MzcsMTA4NVoiIGZpbGw9IiMwYzAwNTUiIHN0cm9rZT0iIzBjMDA1NSIvPjxwYXRoIGQ9Ik0xNjM3LDEwODVMMTI5NCwxMzA0TDE2MDEsMTI3NloiIGZpbGw9IiMwMDAwM2YiIHN0cm9rZT0iIzAwMDAzZiIvPjxwYXRoIGQ9Ik0xMjgsMTM0M0wxMjk0LDEzMDRMNjUzLDEyNzRaIiBmaWxsPSIjNDM0MTcyIiBzdHJva2U9IiM0MzQxNzIiLz48cGF0aCBkPSJNMTI4LDEzNDNMNjUzLDEyNzRMMzkzLDEyNDVaIiBmaWxsPSIjNWM1YzgyIiBzdHJva2U9IiM1YzVjODIiLz48cGF0aCBkPSJNNjUzLDEyNzRMMTI5NCwxMzA0TDk5NiwxMjY2WiIgZmlsbD0iIzJmMWM2MiIgc3Ryb2tlPSIjMmYxYzYyIi8+PC9nPjwvc3ZnPg==";



.wrapper {
	padding-top: $spacing;
	padding-bottom: $spacing;
	transition: opacity $animDuration $animEasing;
}

.intro {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	text-align: center;
	background: $c2;
	z-index: 1;

	.parallax {
		display: block;
		position: relative;
		padding: $spacing 0;
		color: $cf;
		background: $brand1 url($introBg) no-repeat center bottom;
		background-size: cover;
	}

	img {
		display: block;
		position: relative;
		margin: 0 auto;
		margin-bottom: floor($spacing * 1.5);
	}
}


$sidebarWidth: 300px;

.main {
	display: block;
	position: relative;
	left: 0;
	background-color: $bodyColor;
	z-index: 2;
	transition: left $animDuration $animEasing;

	&.sidebar-on {
		left: - $sidebarWidth / 4;

		.wrapper {
			@include opacity(0.15);
		}

		.sidebar {
			transform: translateX(0);

			.sidebar-trigger {
				transform: translateX(46px);
				border-left-width: 0;
				border-right-width: 1px;
				border-radius: 0 $radius $radius 0;

				&:before {
					content: "\00BB" !important;
				}
			}
		}
	}

	.sidebar {
		display: block;
		position: fixed;
		margin: 0;
		padding: 0;
		width: $sidebarWidth;
		top: $headerHeight;
		right: 0;
		bottom: 0;
		border-right: 1px solid $c3;
		background-color: $c3;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
		z-index: 70;
		transform: translateX($sidebarWidth);
		transition: transform $animDuration $animEasing;

		& > * {
			padding: 0 $spacing;
		}

		.sidebar-trigger {
			display: none;
			position: absolute;
			padding: 8px 0;
			width: 46px;
			height: 46px;
			left: -46px;
			top: 12px;
			color: $cf;
			@include font-size($fontSize * 2);
			text-align: center;
			line-height: 0.7 !important;
			border: 1px solid $brand1;
			border-left-width: 0;
			border-radius: $radius 0 0 $radius;
			background-color: $brand1;
			cursor: pointer;
			z-index: 10;
			opacity: 0.85;
			transition: transform $animDuration $animEasing;

			&:hover,
			&:active {
				border-color: $brand2;
				background-color: $brand2;
			}
			&:before {
				content: "\00AB";
			}
		}

		h1, h2, h3, h4, h5, h6 {
			margin-top: 10px;
			color: $cd !important;
			text-align: right;
		}

		ul {
			display: block;
			position: relative;
			margin: 0;
			margin-top: floor($spacing / 2);
			padding: 0;
			list-style: none;
			border-top: 1px solid $c3;
			background-color: $c4;

			li {
				display: block;
				margin: 0;
				padding: 0;

				a {
					display: block;
					position: relative;
					padding: 8px $spacing;
					color: $cd !important;
					@include font-size($fontSize / 1.1);
					text-decoration: none !important;
					border-top: 1px solid $c4;
					border-bottom: 1px solid $c3;

					&:hover {
						border-top: 1px solid $brand1;
						background-color: $brand1;
					}
					&:active {
						border-top: 1px solid $brand2;
						background-color: $brand2;
					}
					&.active {
						color: $cf !important;
						border-top: 1px solid $brand1;
						background-color: $brand1;
					}
				}
			}
		}
	}
}

.back-to-top {
	position: fixed;
	width: 44px;
	height: 44px;
	right: 10px;
	bottom: 10px;
	border-radius: 1000px;
	@include opacity(0.85);
	z-index: 80;

	@extend .valign-middle;
}


.icon-wrapper {
	font-size: 0;

	.icon-container {
		display: inline-block;
		position: relative;
		margin: 0.5%;
		padding: 10px;
		width: 5.666%;
		border: 1px solid $cd;
		border-radius: $radius;
		background-color: $ce;

		.icon {
			margin: 0;
			width: 100%;
			height: 100%;
			@include svgColor($brand1);
		}
	}
}



footer,
.footer {
	display: block;
	position: relative;
	padding: floor($spacing / 1.5) $spacing;
	width: 100%;
	color: $cf;
	background: $brand1 url($introBg) no-repeat center bottom;
	background-size: cover;
	z-index: 80;

	a {
		display: inline-block;
		color: $cf;

		&:hover,
		&:active,
		&:visited {
			color: $cf;
		}
	}

	.author {
		position: relative;
		float: right;
		top: 10px;
		right: 0;
	}

	.social {
		display: none;
		position: relative;
		margin-top: floor($spacing / 2);
		padding: 0;

		.icon {
			margin-right: floor($spacing / 2);
			width: 24px;
			height: 24px;
			@include svgColor($cf);
		}

		a {
			text-align: center;

			&:hover {
				.icon {
					@include svgColor($brand2);
				}
			}
			&:active {
				.icon {
					@include svgColor($cf);
				}
			}
		}
	}
}



// Site Specific