@mixin fontface($fontname) {
	@font-face {
		font-family: $fontname;
		src: url("..fonts/" + $fontname + ".eot");
		src: url("../fonts/" + $fontname + ".eot#iefix") format("embedded-opentype"), url("../fonts/" + $fontname + ".woff") format("woff"), url("../fonts/" + $fontname + ".ttf") format("truetype"), url("../fonts/" + $fontname + ".svg#" + $fontname) format("svg");
		font: {
			style: normal;
			weight: normal;
		};
	}
}

@mixin font-size($fontsize) {
	font-size: $fontsize + px;
	font-size: ($fontsize / 10) + rem;
	line-height: $lineHeight;
}

@mixin svgColor($color) {
	fill: $color !important;
	path: $color !important;
	line: $color !important;
	stroke: none !important;

	path,
	polygon,
	rect {
		fill: $color !important;
		path: $color !important;
		line: $color !important;
		stroke: none !important;
	}
}