@mixin fontface($fontname) {
	@font-face {
		font-family: $fontname;
		src: url("..fonts/" + $fontname + ".eot");
		src: url("../fonts/" + $fontname + ".eot#iefix") format("embedded-opentype"), url("../fonts/" + $fontname + ".woff") format("woff"), url("../fonts/" + $fontname + ".ttf") format("truetype"), url("../fonts/" + $fontname + ".svg#" + $fontname) format("svg");
		font: {
			style: normal;
			weight: normal;
		};
	}
}

@mixin font-size($fontsize) {
	font-size: $fontsize + px;
	font-size: ($fontsize / 10) + rem;
}


@mixin opacity($value) {
	opacity: $value;
	-khtml-opacity: $value;
	-moz-opacity: $value;
	filter: alpha(opacity=#{$value * 100});
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value * 100})";
}


@mixin svgColor($color) {
	fill: $color;
	path: $color;
	line: $color;
	stroke: none !important;

	path,
	polygon,
	rect {
		fill: $color;
		path: $color;
		line: $color;
		stroke: none !important;
	}
}


@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}