@media screen and (max-width: $screenWide + $sidebarWidth) {

	.wrapper {
		width: 100%;
	}

}



@media screen and (min-width: $screenWide + 1) {

}



@media screen and (max-width: $screenWide) {

	header,
	.header {
		nav,
		.nav {
			.nav-item {
				padding: $spacing floor($spacing / 1.5);

				& > * {
					@include font-size($fontSize / 1.1);
				}
			}
		}
	}

	.main {
		&.docs {
			padding-left: 0;
		}

		.sidebar {
			left: auto;
			right: 0;
			transform: translateX($sidebarWidth);

			.sidebar-trigger {
				display: block !important;
			}

			h1, h2, h3, h4, h5, h6 {
				text-align: right;
			}
		}
	}

}



@media screen and (min-width: $screenDesktop + 1) {

}



@media screen and (max-width: $screenDesktop) {

	header,
	.header {
		.logo {
			span {
				display: none;
			}
		}

		nav,
		.nav {
			.nav-item {
				padding: $spacing floor($spacing / 2);

				& > * {
					@include font-size($fontSize / 1.1);
				}
			}
		}
	}

}



@media screen and (min-width: $screenTablet + 1) {

}



@media screen and (max-width: $screenTablet) {


	// Nav

	$navItemHeight: 52px;
	$navItemCount: 8;

	header,
	.header {
		position: fixed;
		transform: translateY(- $navItemHeight * $navItemCount);
		transition-property: transform;
		transition-duration: $animDuration;
		transition-timing-function: $animEasing;

		&.active {
			transform: translateY(0);
		}

		.logo {
			height: $headerHeight + 3;

			span {
				display: inline-block;
			}
		}

		nav,
		.nav {
			display: block;
			position: relative;
			float: none;

			.nav-item {
				display: block;
				position: relative;
				padding: floor($spacing / 1.5) $spacing;
				height: auto;
				border-left: 0;
				border-bottom: 1px solid $ce;
				vertical-align: baseline;

				& > * {
					@include font-size($fontSize);
				}
			}
		}
	}

	.back-to-top,
	.rwd-debug {
		width: 44px !important;
	}


	.icon-wrapper {
		.icon-container {
			width: 6.666%;
		}
	}


	.footer,
	footer {
		> a {
			display: block !important;
		}
	}

}



@media screen and (max-width: $screenMobileL) {

	.icon-wrapper {
		.icon-container {
			width: 13.266%;
		}
	}


	footer {
		.social {
			position: relative;
			padding: floor($spacing / 1.5) $spacing;
		}
	}

}



@media screen and (max-width: $screenMobileS) {

}