@media screen and (max-width: $screenWide + $sidebarWidth) {

	.wrapper {
		width: 100%;
	}

}



@media screen and (max-width: $screenWide) {

	header,
	.header {
		nav,
		.nav {
			.nav-item {
				padding: $spacing floor($spacing / 1.5);

				& > * {
					@include font-size($fontSize / 1.1);
				}
			}
		}
	}

	.main {
		&.docs {
			padding-left: 0;
		}

		.sidebar {
			left: auto;
			right: 0;
			transform: translateX($sidebarWidth);

			.sidebar-trigger {
				display: block !important;
			}

			h1, h2, h3, h4, h5, h6 {
				text-align: right;
			}
		}
	}

}



@media screen and (max-width: $screenDesktop) {

	header,
	.header {
		.logo {
			span {
				display: none;
			}
		}

		nav,
		.nav {
			.nav-item {
				padding: $spacing floor($spacing / 2);

				& > * {
					@include font-size($fontSize / 1.1);
				}
			}
		}
	}

}



@media screen and (max-width: $screenTabletL) {


	// Nav

	header,
	.header {
		position: fixed;

		&.active {

			nav,
			.nav {
				transform: translateY(0);
			}
		}

		.nav-layer {
			border-bottom: 1px solid $ce;
			z-index: 15;
		}

		nav,
		.nav {
			display: block;
			position: absolute;
			top: 100%;
			width: 100%;
			height: auto;
			background-color: $cf;
			transform: translateY(-100%);
			transition-property: transform;
			transition-duration: $animDuration;
			transition-timing-function: $animEasing;

			.nav-item {
				display: block;
				position: relative;
				padding: floor($spacing / 1.5) $spacing;
				height: auto;
				border-left: 0;
				border-bottom: 1px solid $ce;
				vertical-align: baseline;

				& > * {
					@include font-size($fontSize);
				}
			}
		}
	}


	.controls > * {
		width: 44px !important;
	}


	.icon-wrapper {
		.icon-container {
			width: 6.666%;
		}
	}


	.slider {
		&.full {
			.slide {
				width: 100%;
			}
		}
		&.third {
			.slide {
				margin: 0 1%;
				width: 48%;
			}
		}
		&.fifth {
			.slide {
				margin: 0 0.5%;
				width: 49%;
			}
		}
	}


	.footer,
	footer {
		> a {
			display: block !important;
		}
	}

}



@media screen and (max-width: $screenTabletS) {

}



@media screen and (max-width: $screenMobileL) {

	.icon-wrapper {
		.icon-container {
			width: 13.266%;
		}
	}


	.slider {
		&.full {
			.slide {
				width: 100%;
			}
		}
		&.third {
			.slide {
				margin: 0;
				width: 100%;
			}
		}
		&.fifth {
			.slide {
				margin: 0;
				width: 100%;
			}
		}
	}


	footer {
		.author {
			display: none;
		}
	}

}



@media screen and (max-width: $screenMobileS) {

}