// Notification

.notification-wrapper {
	display: block;
	position: fixed;
	margin: floor($spacing / 2);
	width: 300px;
	top: 0;
	right: 0;
	z-index: 140;

	&.cookie {
		position: relative;
		margin: 0;
		width: 100%;
		top: 0;
		left: 0;

		.notification {
			position: relative;
			margin: 0;
			padding: $spacing;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			max-height: 0;
			color: $c3;
			font-size: $fontSize / 1.2 + rem;
			background-color: #f6f4f5;
			cursor: default;
			transform: none;

			&.active {
				padding-top: $spacing;
				padding-bottom: $spacing;
				opacity: 1;
				max-height: 300px;
				z-index: 900;
				transform: none;
			}
			&:hover {
				background-color: #f6f4f5;
			}

			.icon {
				display: none;
			}

			.notification-title {
				@extend h4;
				padding-top: 0;
			}

			button {
				font-size: $fontSize / 1.15 + rem;
			}
		}
	}
}

.notification {
	display: block;
	position: relative;
	margin: 0 0 5px 0;
	padding: floor($spacing / 1.5) floor($spacing / 1.5);
	padding-left: floor($spacing * 1.25) + 16;
	width: 100%;
	top: 0;
	right: 0;
	color: $cf;
	border: $borderWidth solid $defaultBorderColor;
	background: $ce;
	box-shadow: 0 0 10px rgba($c0, 0.35);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
	z-index: 1000;
	transform: translateX(40%);
	transition: all $duration $easing;

	&.active {
		position: relative;
		opacity: 1;
		transform: translateX(0);
		z-index: 900;
	}

	.notification-title {
		color: $defaultTextColor;
		@extend h5;
		padding-top: 0;
		font-weight: bold;
		line-height: 1;
		padding-bottom: floor($spacing / 3);
	}

	a {
		text-decoration: underline !important;
	}

	.icon {
		position: absolute;
		top: floor($spacing / 1.5) + 3;
		left: floor($spacing / 1.5);
		width: 16px;
		height: 16px;
	}

	&[data-type="default"] {
		border-color: $defaultBorderColor; // default border
		background-color: $defaultBgColor; // default background

		.notification-title {
			color: $defaultTextColor; // default text
		}
		.icon {
			@include svgColor($defaultTextColor);
		}
	}
	&[data-type="success"] {
		border-color: $successBorderColor; // success border
		background-color: $successBgColor; // success background

		.notification-title {
			color: $successTextColor; // success text
		}
		.icon {
			@include svgColor($successTextColor);
		}
	}
	&[data-type="warning"] {
		border-color: $warningBorderColor; // warning border
		background-color: $warningBgColor; // warning background

		.notification-title {
			color: $warningTextColor; // warning text
		}
		.icon {
			@include svgColor($warningTextColor);
		}
	}
	&[data-type="failure"] {
		border-color: $failureBorderColor; // failure border
		background-color: $failureBgColor; // failure background

		.notification-title {
			color: $failureTextColor; // failure text
		}
		.icon {
			@include svgColor($failureTextColor);
		}
	}
}