// Overlay

.overlay {
	display: block;
	position: fixed;
	padding: 0;
	max-height: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color: rgba($c0, 0.8);
	overflow: hidden;
	z-index: 900;
	transition: all 0.5s $easing;
	transform: translate3d(0, 0, 0);
	@extend .valign-middle;

	&.active {
		max-height: 100%;

		.modal {
			opacity: 1;
		}
	}

	$closeSize: 36px;

	.modal {
		position: relative;
		margin: 0 auto;
		padding: $spacing;
		width: 80%;
		height: 80%;
		text-align: left;
		border-radius: $radius;
		background: $cf;
		opacity: 0;
		z-index: 9100;
		transition: opacity 0.5s $easing;

		.close {
			display: block;
			position: absolute;
			margin: 0;
			padding: 0;
			width: $closeSize;
			height: $closeSize;
			top: floor(-$closeSize / 2);
			right: floor(-$closeSize / 2);
			border-radius: 1000px;
			background-color: $color1;
			cursor: pointer;
			z-index: 10;

			.icon-close {
				position: absolute;
				margin-top: -25%;
				margin-left: -25%;
				width: 50%;
				height: 50%;
				top: 50%;
				left: 50%;
				@include svgColor($cf);
			}

			&:hover {
				background-color: $color2;
			}
			&:active {
				background-color: $color1;
			}
		}
	}
}



// Responsive

@media screen and (max-width: $scrTablL) {

	.overlay {
		.modal {
			width: 90%;
			height: 90%;
		}
	}

}



// Conditional

.lt-ie9 {

	.overlay {
		background: transparent url($base + "img/pixel-black.png") repeat left top;
	}

}