// Slider

.slider {
	display: block;
	position: relative;
	margin: $spacing auto;
	padding: 0;
	user-select: none;
	overflow: hidden;

	* {
		user-select: none;
	}

	&.active,
	&:hover {
		.slider-arrow {
			opacity: 1;

			&.slider-arrow-prev {
				margin-left: 0;
			}
			&.slider-arrow-next {
				margin-right: 0;
			}
		}
	}



	// Arrow Navigation

	&.arrows {
		// padding: 0 $arrowDiameter;
		padding: 0;

		.slider-arrow {
			display: block;
		}
	}

	.slider-arrow {
		display: none;
		position: absolute;
		padding: 0;
		width: $arrowDiameter;
		height: 100%;
		text-align: center;
		background-color: rgba($c3, 0.75);
		opacity: 0;
		vertical-align: middle;
		user-select: none;
		cursor: pointer;
		z-index: 50;
		transition: {
			property: margin background opacity;
			duration: $duration;
			timing-function: $easing;
		}

		&:hover {
			background-color: rgba($color1, 0.75);
		}
		&:active {
			background-color: rgba($color3, 0.75);
		}

		&.slider-arrow-prev {
			margin-left: floor(-$spacing * 2);
			left: 0;
		}
		&.slider-arrow-next {
			margin-right: floor(-$spacing * 2);
			right: 0;
		}

		.icon {
			margin: 0 auto;
			width: 22px;
			height: 22px;
			@include svgColor($cf);
		}
	}




	// Bullet Navigation (if navContainer is not defined)

	&.bullets {
		margin-bottom: floor($spacing * 2) + $bulletDiameter;
		text-align: center;

		.slider-nav {
			display: block;
		}
	}

	.slider-nav {
		display: none;
		position: relative;
		margin: 0;
		margin-top: floor($spacing / 1.5);
		padding: 0;
		text-align: center;
		font-size: 0;
		cursor: default;

		.slider-bullet {
			display: inline-block;
			position: relative;
			margin: floor($spacing / 4);
			padding: floor($bulletDiameter / 2);
			opacity: 0.5;
			user-select: none;
			cursor: pointer;

			&:after {
				display: block;
				position: relative;
				content: "";
				width: floor($bulletDiameter / 2);
				height: floor($bulletDiameter / 2);
				background-color: $color2;
				border-radius: $bulletDiameter;
			}

			&:hover {
				opacity: 1;
			}

			&:active,
			&.active,
			&:focus {
				opacity: 1;

				&:after {
					background-color: $color1;
				}
			}
		}

		&.thumbnails {
			.slider-bullet {
				padding: 0;
				padding-bottom: $thumbDiameter;
				width: $thumbDiameter;
				height: 0;
				border-radius: $radius;
				background-size: cover !important;

				&:after {
					display: none;
				}
			}
		}
	}



	// Moving Container

	.slider-container {
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		width: 100%;
		overflow: hidden;
		cursor: pointer;

		&:after {
			display: none;
			position: absolute;
			width: 24px;
			height: 24px;
			top: 0;
			left: floor($spacing / 4);
			background: transparent url($base + "img/icons/icon-swipe.svg") center center no-repeat;
			background-size: 100%;
			opacity: 1;
			content: "";
		}
	}

	.slider-movable {
		display: block;
		position: relative;
		margin: 0;
		left: 0;
		width: 100%;
		white-space: nowrap !important;
		overflow: visible !important;
		@extend .valign-middle;
		transform: translate3d(0, 0, 0);

		.slide {
			position: relative;
		}
	}

	.slide {
		display: inline-block;
		position: absolute;
		margin: 0;
		padding: floor($spacing / 2);
		width: 100%;
		top: 0;
		left: 0;
		vertical-align: top;
		overflow: hidden;
		white-space: normal;
		visibility: hidden;

		> img {
			display: block;
			position: relative;
			width: 100%;
			height: auto;
			top: 0;
		}

		&[data-thumb] {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;

			&:after {
				display: block;
				position: relative;
				width: 100%;
				padding-bottom: 55%;
				content: "";
			}
		}
	}



	// Multi slides

	@for $i from 1 through 20 {
		&[data-display="#{$i}"] {
			&.active,
			&:hover {
				.slider-arrow {
					&.slider-arrow-prev {
						margin-left: 0;
					}
					&.slider-arrow-next {
						margin-right: 0;
					}
				}
			}

			.slider-container {
				&:after {
					top: auto;
					bottom: 0;
				}
			}

			.slider-arrow {
				&.slider-arrow-prev {
					margin-left: -$arrowDiameter;
				}
				&.slider-arrow-next {
					margin-right: -$arrowDiameter;
				}
			}

			.slide {
				width: (100 / $i) + %;

				&.thumb {
					&:after {
						padding-bottom: 52.5%;
					}
				}
			}
		}
	}
}



// Responsive

@media screen and (max-width: $scrDeskS) {

	.slider {
		.slider-nav {
			&.thumbs {
				.slider-bullet {
					padding-bottom: 9%;
					width: 9%;
				}
			}
		}
	}

}


@media screen and (max-width: $scrTablL) {

	.slider {
		.slider-container {
			cursor: grab;

			&:after {
				display: block;
			}
		}

		.slider-movable {
		    cursor: move;
		    cursor: grab;
		}

		&:hover {
			.slider-arrow {
				opacity: 1;
			}
		}

		.slider-arrow {
			opacity: 0.75;

			&.slider-arrow-prev {
				margin-left: floor($arrowDiameter / 2) !important;
			}
			&.slider-arrow-next {
				margin-right: floor($arrowDiameter / 2) !important;
			}
		}

		.slider-nav {
			&.thumbs {
				.slider-bullet {
					padding-bottom: 11.5%;
					width: 11.5%;
				}
			}
		}

		@for $i from 1 through 20 {
			&[data-display="#{$i}"] {
				.slide {
					width: 33.333% !important;
				}

				.slider-arrow {
					opacity: 0.75;

					&.slider-arrow-prev {
						margin-left: floor(-$arrowDiameter / 2) !important;
					}
					&.slider-arrow-next {
						margin-right: floor(-$arrowDiameter / 2) !important;
					}
				}
			}
		}
	}

}



@media screen and (max-width: $scrMoblL) {

	.slider {
		.slider-arrow {
			display: none !important;
		}

		.slider-nav {
			&.thumbs {
				.slider-bullet {
					padding-bottom: 19%;
					width: 19%;
				}
			}
		}

		@for $i from 1 through 20 {
			&[data-display="#{$i}"] {
				.slide {
					width: 50% !important;
				}
			}
		}
	}

}



// Conditional

.lt-ie9 {

	.slider-arrow {
		background: transparent url('..$base + "img/pixel-white.png') repeat left top;
	}

}