<a href="#" class="anchor" id="top"></a>

<!--[if lt IE 8]>
<p class="emphasis">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header>
	<div class="scroll-progress"></div>

	<div class="controls">
		<div class="control-trigger debug-trigger hidden">
			<img class="svg icon icon-mobile" src="/img/icons/icon-mobile.svg" onerror="this.onerror=null;this.src='/img/icons/icon-mobile.png'">
		</div>

		<div class="control-trigger grid-trigger hidden">
			<img class="svg icon icon-columns" src="/img/icons/icon-columns.svg" onerror="this.onerror=null;this.src='/img/icons/icon-columns.png'">

      <div class="wrapper column-grid">
        <div class="row">
          <div class="column" data-span="1"><div class="cell">&nbsp;</div></div>
          <div class="column" data-span="1"><div class="cell">&nbsp;</div></div>
          <div class="column" data-span="1"><div class="cell">&nbsp;</div></div>
          <div class="column" data-span="1"><div class="cell">&nbsp;</div></div>
          <div class="column" data-span="1"><div class="cell">&nbsp;</div></div>
          <div class="column" data-span="1"><div class="cell">&nbsp;</div></div>
          <div class="column" data-span="1"><div class="cell">&nbsp;</div></div>
          <div class="column" data-span="1"><div class="cell">&nbsp;</div></div>
          <div class="column" data-span="1"><div class="cell">&nbsp;</div></div>
          <div class="column" data-span="1"><div class="cell">&nbsp;</div></div>
          <div class="column" data-span="1"><div class="cell">&nbsp;</div></div>
          <div class="column" data-span="1"><div class="cell">&nbsp;</div></div>
        </div>
      </div>
		</div>

		<a href="#top" class="control-trigger top-trigger">
			<img class="svg icon icon-arrow-up" src="/img/icons/icon-arrow-up.svg" onerror="this.onerror=null;this.src='/img/icons/icon-arrow-up.png'">
		</a>
	</div>

	<div class="notification-wrapper"></div>


	<!-- Site specific elements HERE -->
</header>