// Autocomplete

$itemHeight: 44;
$itemQty: 7;

.autocomplete-wrapper {
	display: block;
	position: relative;
	color: $c2;
	margin: 0;
	margin-top: 2px;
	margin-bottom: floor($spacing / 2);
	padding: 0;
	width: 100%;
	font-family: $bodyFont;
	@include font-size($fontSize);
	text-align: left;
	vertical-align: top;
	cursor: pointer;
	user-select: none;
	background-clip: padding-box;
	outline: 0;

	&.active {
		ul {
			@include opacity(1);
			transform: translateY(0);
			visibility: visible;
			z-index: 9999;
		}
		.divider {
			@include opacity(1);
			transform: translateX(0);
			visibility: visible;
			z-index: 9999;
		}
	}

	ul {
		display: block;
		position: absolute;
		margin: 0;
		padding: 0;
		width: 99%;
		max-height: ($itemHeight * $itemQty) + px;
		top: 100%;
		left: 0.5%;
		list-style: none;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
		overflow: auto;
		overflow-x: hidden;
		visibility: hidden;
		z-index: -1;
		@include opacity(0);
		transform: translateY(-10px);
		transition-property: opacity, transform;
		transition-duration: $animDuration;
		transition-timing-function: $animEasing;

		li {
			display: none;
			position: relative;
			margin: 0;
			margin-top: -1px;
			padding: floor($spacing / 2) floor($spacing / 1.5);
			border: 1px solid $ce;
			background: $cf;

			&:hover {
				color: $cf;
				background: $brand1;

				* {
					color: $cf !important;
				}
			}

			&:active,
			&.active {
				color: $cf;
				background: $brand2;

				* {
					color: $cf !important;
				}
			}

			&.selected {
				display: block;
				padding-left: 24px;
				cursor: pointer;
			}

			> * {
				display: block;
				width: 100%;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}

	.divider {
		display: block;
		position: absolute;
		margin: 0;
		margin-top: -1px;
		padding: 9px 12px;
		top: 100%;
		right: 99.5%;
		color: $fontColor !important;
		font-weight: bold;
		background-color: $ce;
		border: 1px solid $ce;
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;
		visibility: hidden;
		z-index: -1;
		cursor: default;
		@include opacity(0);
		transform: translateX(10px);
		transition-property: opacity, transform;
		transition-duration: $animDuration;
		transition-timing-function: $animEasing;
	}
}