.lt-ie8 {



}



.lt-ie9 {

	// DELETE FROM HERE

	header,
	.header {
		border-bottom: 1px solid $clearGray;
	}

	// TO HERE

}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	/* IE10+ specific styles go here */



}