// General

$headerHeight: 67px; // Change once the header is final

$spacing: 20px;
$radius: 4px;


// Column System

$columns: 12;
$gutter: 2%;


// Typography

$headingFont: 'Roboto Slab', serif;
$bodyFont: 'Open Sans', sans-serif;
$monospaceFont: 'Ubuntu Mono', monospace;
// $monospaceFont: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

$defaultFontSize: 16;
$defaultLineHeight: $defaultFontSize / 10;


// Iconography

$defaultIconSize: 18px;


// Colour Palette

$black: #000000;
$semiBlack: #111111;
$darkGray: #222222;
$lowGray: #333333;
$midGray: #444444;
$defaultGray: #888888;
$lightGray: #dddddd;
$clearGray: #eeeeee;
$white: #ffffff;

$primaryColor: #86669E;
$secondaryColor: #0299BF;
$tertiaryColor: #E03A36;

$defaultBgColor: $white;
$defaultHeadingColor: $darkGray;
$defaultTextColor: $darkGray;

// Validation

$successText: #008800; // Success text
$successBorder: #44bb44; // Success border
$successBg: #44bb44; // Success background

$warningText: #dd8800; // Warning text
$warningBorder: #ffaa22; // Warning border
$warningBg: #aa5500; // Warning background

$failureText: #cc0000; // Failure text
$failureBorder: #ff7777; // Failure border
$failureBg: #fff2f2; // Failure background

$focusColor: $white; // Input focus

// Notifications

$successNotifyBg: #44bb44;
$warningNotifyBg: #DD9900;
$failureNotifyBg: #DD0000;


// Responsive

$screenWide: 1280px;
$screenDesktop: 960 + ($spacing * 2);
$screenTablet: 768px;
$screenMobileL: 480px;
$screenMobileS: 320px;


// Animation

$duration: 0.25s;
$easing: cubic-bezier(0.45, 0, 0.5, 0.95);

// @include transition-property(transform, opacity);
// @include transition-duration($duration);
// @include transition-timing-function($easing);