@media screen and (min-width: $screenWide + 1) {

}



@media screen and (max-width: $screenWide) {

	header,
	.header {
		nav,
		.nav {
			.nav-item {
				padding: $spacing ($spacing / 1.5);

				& > * {
					@include font-size($defaultFontSize / 1.1);
				}
			}
		}
	}

}



@media screen and (min-width: $screenDesktop + 1) {

}



@media screen and (max-width: $screenDesktop) {

	.wrapper {
		padding: $spacing;
		width: 100%;
	}

	header,
	.header {
		.logo {
			span {
				display: none;
			}
		}

		nav,
		.nav {
			.nav-item {
				padding: $spacing ($spacing / 2);

				& > * {
					@include font-size($defaultFontSize / 1.2);
				}
			}
		}
	}

}



@media screen and (min-width: $screenTablet + 1) {

}



@media screen and (max-width: $screenTablet) {


	// Nav

	$navItemHeight: 55px;
	$navItemCount: 8;

	header,
	.header {
		position: fixed;
		margin-top: (-$navItemHeight * $navItemCount);
		margin-top: (-$navItemHeight * 8);
		@include transition-property(transform);
		@include transition-duration($duration);
		@include transition-timing-function($easing);

		&.active {
			@include transform(translateY($navItemHeight * 8));
		}

		.logo {
			height: $headerHeight + 3;

			span {
				display: inline-block;
			}
		}

		nav,
		.nav {
			display: block;
			position: relative;
			float: none;

			.nav-item {
				display: block;
				position: relative;
				padding: ($spacing / 1.5) $spacing;
				height: auto;
				border-left: 0;
				border-bottom: 1px solid $clearGray;
				vertical-align: baseline;
			}
		}
	}

	.back-to-top {
		width: auto !important;
	}


	.footer,
	footer {
		> a {
			display: block !important;
		}
	}

}



@media screen and (max-width: $screenMobileL) {

	footer {
		.social {
			position: relative;
			padding: ($spacing / 1.5) $spacing;
		}
	}

}



@media screen and (max-width: $screenMobileS) {

}