// General

$base: "/"; // Base path for images, ending in /

$spacing: 20px; // Spacing variable user throughout
$radius: 4px; // Radius value




// Grid System

$columns: 12; // Number of columns on the grid
$gut: $spacing; // Gutter pixel value




// Colours

$c0: #000000;
$c1: #111111;
$c2: #222222;
$c3: #333333;
$c4: #444444;
$c5: #555555;
$c6: #666666;
$c7: #777777;
$c8: #888888;
$c9: #999999;
$ca: #aaaaaa;
$cb: #bbbbbb;
$cc: #cccccc;
$cd: #dddddd;
$ce: #eeeeee;
$cf: #ffffff;

$highlightColor: #ffff9e;


// Branding

$color1: #7C5EB3; // Primary colour
$color2: #0299BF; // Secondary colour
$color3: #E03A36; // Tertiary colour

$btnPrimaryColor: $color1;
$btnPrimaryColorHover: darken($color1, 15);
$btnSecondaryColor: $color2;
$btnSecondaryColorHover: darken($color1, 15);
$btnTertiaryColor: $color3;
$btnTertiaryColorHover: darken($color1, 15);


// Global

$bodyBgColor: $cf; // Body background colour
$headingTextColor: $color1; // Heading colour
$bodyTextColor: $c3; // Text colour




// Typography

$fontSize: 1.7; // REM measure. 1.0rem = 10px; Change the root value of pixrem's postcss module on GruntFile.js to this value multiplied by 10.
$lineHeight: $fontSize; // Line Height


@mixin font-face($family, $filename, $weight, $style) { // Use same font family with different weights and styles when defining different fonts to use native CSS properties
	@font-face {
		font-family: $family;
		src: url("/fonts/" + $filename + ".eot");
		src: url("/fonts/" + $filename + ".eot#iefix") format("embedded-opentype"),
			 url("/fonts/" + $filename + ".woff") format("woff"),
			 url("/fonts/" + $filename + ".ttf") format("truetype"),
			 url("/fonts/" + $filename + ".svg#" + $filename) format("svg");
		font: {
			style: $style;
			weight: $weight;
		};
	}
}

@import url("//fonts.googleapis.com/css?family=Maven Pro:400,700");
$headingFont: "Maven Pro", serif;

@import url("//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700italic,700");
$bodyFont: "Open Sans", sans-serif;

// @import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic");
// $bodyFont: "Source Sans Pro", sans-serif;

@import url("//fonts.googleapis.com/css?family=Source+Code+Pro:400,500");
$monoFont: "Source Code Pro", monospace;




// Iconography

$iconSize: 18px;




// Widgets

// Slider

$arrowDiameter: 56px;
$bulletDiameter: 16px;
$thumbDiameter: percentage(1 / 13);




// Forms

$focusColor: rgba($color2, 0.35); // Input focus

$borderWidth: 1px;
$borderColor: $cc;
$borderStyle: solid;

$dropdownItemHeight: 42px;
$dropdownItemCount: 5;

$controllerWidth: 24px;
$toggleWidth: $controllerWidth * 2;
$toggleHeight: $toggleWidth / 2;
$switchSize: $toggleHeight + 2;


// Validation

$defaultTextColor: lighten($color1, 70); // Default text
$defaultBorderColor: $color1; // Default border
$defaultBgColor: $color1; // Default background

$successTextColor: lighten(green, 70); // Success text
$successBorderColor: green; // Success border
$successBgColor: green; // Success background

$warningTextColor: lighten(orange, 70); // Warning text
$warningBorderColor: orange; // Warning border
$warningBgColor: orange; // Warning background

$failureTextColor: lighten(red, 70); // Failure text
$failureBorderColor: red; // Failure border
$failureBgColor: red; // Failure background




// Responsive Breakpoints

$scrDeskL: 1280px;
$scrDeskS: 960px;
$scrTablL: 768px;
$scrTablS: 600px;
$scrMoblL: 480px;
$scrMoblS: 320px;




// Animation

$duration: 0.35s;
$easing: cubic-bezier(0.45, 0, 0.5, 0.95);