// Structure

html {
	font-size: 62.5%;
	line-height: 1;
}

html,
body {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	background: $bodyBgColor;
}

body {
	color: $bodyTextColor;
	font-family: $bodyFont;
	font-size: $fontSize + rem;

	&.preload {
		* {
			transition-property: none !important;
		}

		input[type="checkbox"],
		input[type="checkbox"],
		select {
			display: none;
		}
	}
}


* {
	line-height: $lineHeight;
	vertical-align: baseline;
	box-sizing: border-box;

	text-size-adjust: none;
	font-smoothing: subpixel-antialiased;

	touch-callout: none;
	tap-highlight-color: rgba($c0, 0);

	&:before, &:after {
		box-sizing: inherit;
	}
}


.wrapper {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0 $spacing;
	width: $scrDeskS;
}

.mobile-show {
	display: none !important;
}

.table-mirror {
	display: none !important;
}



// Typography

h1, h2, h3, h4, h5, h6 {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	padding-bottom: floor($spacing / 2);
	color: $headingTextColor;
	font-family: $headingFont;
	font-weight: 400;
	line-height: 1.4;
}

h1 {
	font-size: $fontSize * 2.8 + rem;
}
h2 {
	font-size: $fontSize * 2.3 + rem;
}
h3 {
	font-size: $fontSize * 1.8 + rem;
}
h4 {
	padding: floor($spacing / 1.25) 0 floor($spacing / 2);
	font-size: $fontSize * 1.5 + rem;
}
h5 {
	padding: floor($spacing / 1.25) 0 floor($spacing / 2);
	font-size: $fontSize * 1.3 + rem;
}
h6 {
	padding: floor($spacing / 1.25) 0 floor($spacing / 2);
	font-size: $fontSize * 1.1 + rem;
}


p {
	margin: 0;
	padding: floor($spacing / 2) 0;

	&.lead {
		font-size: $fontSize * 1.2 + rem;
	}
}


.emphasis {
	color: $color3;
}



// Links

a {
	display: inline;
	position: relative;
	color: $color1;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
	&:active {
		color: $c2;
	}

	& > img {
		display: block;
	}

	&.anchor {
		position: absolute;
		height: 0;
		visibility: hidden;
	}

	&.disabled {
		pointer-events: none;
	}

	&[data-explicit="true"] {
		&:after {
			margin: 0 4px;
			color: $ca;
			font-size: $fontSize / 1.2 + rem;
			content: '(' attr(href) ')';
		}
	}

	&[target="_blank"]:not(.button) {
		margin-left: 0;
		padding-left: 12px;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAAEEfUpiAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RjQ3MDgzOEU1MzEwMTFFNEE4NkFEMzE2OUU4RUI5NkUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RjQ3MDgzOEY1MzEwMTFFNEE4NkFEMzE2OUU4RUI5NkUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpGNDcwODM4QzUzMTAxMUU0QTg2QUQzMTY5RThFQjk2RSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpGNDcwODM4RDUzMTAxMUU0QTg2QUQzMTY5RThFQjk2RSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pgq0fzUAAAQwSURBVHjaYpg1a5Y8IyNjJAj///+fgQHEWLBggZS4uHggCIMFQAyQLAgz/fv3bzkDEgAIIEaQChgHJMn49OlTDiMjI0+4EpAACIP0g8xiAmlDNgMggMC2nD17VgCmEoSFhISCYbpAOhgkJCR+gMx9/vw5B4h/+fLlrSBaTEwsiAXE0NPT82ZhYfknKSn5Q0pK6gfMdCYmpv+MYO9BTAkEOpMRJAhT8Pr1a3aAAAL5IwrI/o/sLi4urr9fvnxZBWKzAE0A+W0dsgJpaelQuCeAOBqoaKmEhHgQkItu0h8WGOfly1ecQJPWIiuQlZUNZEEWQPYBkk+Y/r19+4aNAQdgevz48QYhIeHfuBTAw4GZmTlSVFT0B1IUMLx69YoDIADn1I4DIAhDDWnA8zk4eEQHT8WkMBuT+ulLxPhpgtqxlPJ+gEUDcSDSw6grFhlZjPe+ExnG1CfZhMsGDDUSqUIIFo+If9O5T/dBGBxjdG8QqQt2OllEyIZkoTQHFKK1+FHwaUaYJO71MPTu6wJi5lY9yCCCjaoG1lqGQPI5qtzr0GoTgJQyx0EQiMKwkhljlAI66anwKi4xJiYegjNwBk5hgZ13sLOXzk7AAiZEGnDwPQwaBVmUZAq2mZfvX7qyLC+DIOg1mLZrmuZe1/XT20M4bZ3vVgOLYzzCMLQKPsAXtm3vvv3MWEA1bTxPU34rsMq1r9Ic37muawlC0VcFiKqqTqEPSBMmhmEcMgaiKMaMsa3v+xRKbZUHp44J2p2UaTscDpLjsYoJAybaDL7npNwk1Uyw9p6TdP68hMeJf25wvUYU6E/Axrx1mIAkLu4458EvExCQbhNFEVZbJ47j1kyIJEkJLryBUNEmTCh9Rb1URmSiKKNFmn6NcWYkrHzy0QWob2Yxz7v068bH7rgLUIy17DQIBVGgoKDFWkPsBxA2/okxaUz8jfYj2LG2f2Ji/AM3xgX7mrhkbarlUh7OIdwUEXkUiJPcBem93DMzZ2YOFXVdv6MSVXmX7cuQnNns8oMY/chDVBpDKryj/OVoDTTFkiQ5qEcLlFAFIQKG7dZXkOBKAPn2OJmcsfX67cEwjODAy0ekV66p9YCS0Xh8uhNrGPEjh3A6CIJfVGSMifAMU7gOhOu6T/xSRBHU5uzc35OIqqqGmqbFlX3P933Jsqwb0gMX9BgK/ZpEk8+vAzAiD7AnnXTwDBzBBGjLEQQFR/IciaJIlluwuheOmKY59zzvhBO/Vev5iyNNDWeLkZOEf7YCgCSVABh5QCp2GTRNAaAk+JDebD6hP25JVkE6HiuKEg8OYLW6fyat+kXKIoS6oMWm03NWpmGGMHmxWL5jlf1YbCCDAGi3PUklUV7VtDE4lH16NAMAIvIDe45czTvlnN7DewD4V1mGJN13tm2/Yqhgc1YZcZeV/QEgoqM6jvPyDZ7qJo/rA+01AAAAAElFTkSuQmCC);
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 8px 8px;

		&.no-icon {
			margin-left: 0;
			padding-left: 0;
			background: none;
		}
	}
}



// Iconography

.icon {
	display: inline-block;
	position: relative;
	width: $iconSize;
	height: $iconSize;
	@include svgColor($cf);
	text-decoration: none !important;
	overflow: visible;
}



// Imagery

img {
	display: block;
	position: relative;
	max-width: 100%;
	border: 0;
}



// Lists

ul,
menu,
dir {
	list-style-type: disc;
}

ul,
ol,
menu,
dir {
	display: block;
	position: relative;
	margin: floor($spacing / 2) $spacing;
	padding: 0;
	list-style-position: outside;

	li {
		margin: floor($spacing / 4) 0;
		padding: 0;
	}
}
menu,
dir {
	margin: $spacing 0;
}

dl {
	display: block;
	margin: $spacing 0;

	dt {
		display: block;
		position: relative;
		margin: $spacing 0 floor($spacing / 4);
		padding: 0;
		font-weight: bold;
	}
	dd {
		display: block;
		position: relative;
		margin: floor($spacing / 2.5) 0;
		padding: 0;
		padding-left: $spacing;
	}
}



// Other

hr {
	display: block;
	position: relative;
	margin: floor($spacing * 1.5) auto;
	width: 100%;
	height: 0;
	border: 0;
	border-bottom: 1px;
	border-style: dashed;
	border-color: $c8;
	background: none;
	opacity: 0.25;

	&.small {
		width: 90px;
	}
	&.medium {
		width: 150px;
	}
	&.default {
		width: 240px;
	}
	&.large {
		width: 320px;
	}
}


code,
kbd,
samp,
tt,
verbatim {
	display: inline-block;
	position: relative;
	padding: 2px 4px;
	color: $bodyTextColor;
	font-family: $monoFont;
	font-weight: normal;
	line-height: 1;
	border: 1px solid $cd;
	border-radius: $radius;
	background: $ce;

	* {
		font-weight: normal;
	}
}

pre {
	display: block;
	position: relative;
	margin: floor($spacing / 2) 0;
	padding: floor($spacing / 2) $spacing;
	color: $cc;
	font-family: $monoFont;
	font-weight: normal;
	border: 1px solid $c1;
	border-radius: $radius;
	background: $c3;
	overflow: auto;
	white-space: pre-wrap;

	* {
		font-weight: normal;
	}

	.emphasis {
		color: #42d9fF;
	}
}


cite {
	display: inline-block;
	position: relative;

	&:before {
		content: "- ";
	}
}

address,
blockquote {
	display: block;
	position: relative;
	margin: $spacing 0;
	padding: floor($spacing / 4) floor($spacing / 1.5);
	padding-right: 0;
	border-left: 5px solid $color1;

	p {
		&:first-child {
			margin-top: 0;
		}
	}

	cite {
		display: block;
	}
}

address {
	a {
		display: block;

		&:first-child {
			font-weight: bold;
			font-style: normal;
		}
	}
}


abbr,
acronym {
	font-weight: bold;
	text-transform: uppercase;
	cursor: help;
}


var {
	color: $color1;
	font-style: normal;

	&:before {
		content: "{{";
	}
	&:after {
		content: "}}";
	}
}


sup {
	font-size: $fontSize / 1.3 + rem;
	vertical-align: top;
}
small {
	font-size: $fontSize / 1.3 + rem;
}
sub {
	font-size: $fontSize / 1.5 + rem;
}
