// Default

body {
	font-size: $fontSize + rem;

	&.preload {
		* {
			transition-property: none !important;
		}

		input[type="checkbox"],
		input[type="radio"],
		select {
			display: none;
		}
	}

	&:before {
		display: none;
	}
}

.main {
	display: block;
	position: relative;
	margin: 0;
	padding: $spacing 0;
}

.wrapper {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: $spacing;
	width: $scrDeskL;
}

.desktop-show {
	@extend .tablet-hide;
	@extend .mobile-hide;
}
.tablet-show {
	@extend .desktop-hide;
	@extend .mobile-hide;
}
.mobile-show {
	@extend .desktop-hide;
	@extend .tablet-hide;
}



// Controls

.scroll-progress {
	display: block;
	position: fixed;
	width: 0;
	height: 3px;
	top: 0;
	font-size: 0;
	background: $color3;
	z-index: 150;
}

.controls {
	display: block;
	position: fixed;
	padding: 5px;
	right: 0;
	top: 0;
	text-align: right;
	z-index: 90;
	@extend .block-reset;

	> * {
		display: inline-block;
		position: relative;
		margin: 5px !important;
		width: 44px !important;
		height: 44px !important;
		@extend .button;
		@extend .primary;
		@extend .circle;
		@extend .valign-middle;

		&.debug-trigger {
			@extend .tertiary;
		}

		> .icon {
			display: block;
			position: absolute;
			margin-top: -20%;
			margin-left: -20%;
			width: 40%;
			height: 40%;
			top: 50%;
			left: 50%;
			font-size: 16px !important;
			font-weight: bold;
			line-height: 1;
		}
	}
}



// Widgets

$progressHeight: 42px;

.progress-bar {
	display: block;
	position: relative;
	height: $progressHeight;
	width: 100%;
	border-radius: $radius;
	background-color: $ce;
	box-shadow: 0 1px 3px rgba($c0, 0.35) inset;
	overflow: hidden;

	div {
		display: block;
		position: relative;
		width: 0;
		height: 100%;
		border-radius: $radius;
		background-color: $color1;
		box-shadow: inset 0 1px 0 rgba($cf, .5);
		transition: width $duration $easing;
		background-size: 40px 40px;
		background-image: linear-gradient(
			135deg,
			rgba($cf, 0.15) 25%,
			transparent 25%,
			transparent 50%,
			rgba($cf, 0.15) 50%,
			rgba($cf, 0.15) 75%,
			transparent 75%,
			transparent
		);
		transition: width $duration $easing;
		animation: stripes 0.5s linear infinite;

		&[data-percentage="100"] {
			background-color: $successBgColor;
			background-image: none;
		}

		&.active {
			&:before {
				opacity: 1;
			}
		}

		&:before {
			position: absolute;
			margin-top: -13px;
			padding: 2px 5px;
			height: 26px;
			top: 50%;
			right: $spacing + 10;
			font-size: $fontSize / 1.2 + rem;
			color: $color1;
			text-align: center;
			border-radius: $radius;
			background-color: $ce;
			content: attr(data-percentage) '%';
			z-index: 20;
			opacity: 0;
			transition: opacity $duration $easing;
		}

		&:after {
			position: absolute;
			margin-top: -5px;
			width: 10px;
			height: 10px;
			top: 50%;
			right: floor($spacing / 2);
			@extend .circle;
			background-color: $ce;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) inset;
			content: '';
		}
	}
}

@keyframes stripes {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 40px 0;
	}
}



// Responsive

@media screen and (min-width: $scrTablL + 1) { // Greater than Tablet Large

	body:before {
		content: "desktop";
	}

	.desktop-hide {
		display: none !important;
	}

}


@media screen and (max-width: $scrDeskL) {

	.wrapper {
		width: 100%;
	}

}


@media screen and (max-width: $scrTablL) {

	body:before {
		content: "tablet";
	}

	.tablet-hide {
		display: none !important;
	}

}


@media screen and (max-width: $scrTablS) {

	html {
		background-color: $bodyBgColor;
	}

}


@media screen and (max-width: $scrMoblL) {

	body:before {
		content: "mobile";
	}

	.mobile-hide {
		display: none !important;
	}

}


@media screen and (max-width: $scrMoblS) {

	html {
		background-color: $bodyBgColor;
	}

}



// Conditional

.lt-ie9 {

	.tablet-show {
		display: none !important;
	}
	.mobile-show {
		display: none !important;
	}

}