// Default

body {
	font-size: $fontSize + rem;

	&.preload {
		* {
			transition-property: none !important;
		}

		input[type="checkbox"],
		input[type="radio"],
		select {
			display: none;
		}
	}

	&:before {
		display: none;
	}
}

.main {
	display: block;
	position: relative;
	margin: 0;
	padding: $spacing 0;
	background-color: $bodyBgColor;
}

.wrapper {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: $spacing;
	max-width: $contentWidth;
}



// Controls

.scroll-progress {
	display: block;
	position: fixed;
	width: 0;
	height: 3px;
	top: 0;
	left: 0;
	right: 0;
	font-size: 0;
	background: $color3;
	z-index: 150;
}

.controls {
	display: block;
	position: fixed;
	padding: 5px;
	right: 0;
	top: 0;
	text-align: right;
	z-index: 9000;
	@extend .block-reset;

	.control-trigger {
		display: inline-block;
		position: relative;
		margin: 5px !important;
		padding: 0 !important;
		width: 44px !important;
		height: 44px !important;
		@extend .button;
		@extend .primary;
		@extend .circle;
		@extend .valign-middle;

		&.doc-trigger {
			@extend .secondary;
		}

		&.grid-trigger,
		&.debug-trigger {
			@extend .tertiary;
		}

		> .icon {
			display: block;
			position: absolute;
			margin-top: -20% !important;
			margin-left: -20% !important;
			width: 40% !important;
			height: 40% !important;
			top: 50% !important;
			left: 50% !important;
			font-weight: bold;
			line-height: 1;
		}
	}
}



// Widgets

// Loader

.loader {
	display: block;
	position: relative;
	margin: floor($spacing / 2) auto;
	padding: 0;
	overflow: visible;
	width: $loaderSize;
	height: $loaderSize;
	z-index: 5;

	&:before,
	&:after,
	.loader-inner {
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		top: 50%;
		left: 50%;
	  // background-color: $color1;
		border: 0 solid $color1;
		border-radius: 50%;
		transform: translate(-50%, -50%);
	}

	&:before {
		animation: loader-ring-inner ($duration * 4) infinite $easing;
	}
	&:after {
		animation: loader-ring-middle ($duration * 4) infinite $easing;
	}
	.loader-inner {
		animation: loader-ring-outer ($duration * 4) infinite $easing;
	}
}

@keyframes loader-ring-inner {
	0% {
		width: 0;
		height: 0;
	}

	70% {
		width: 30%;
		height: 30%;
		border-width: 1px;
		opacity: 1;
	}

	100% {
		width: 30%;
		height: 30%;
		border-width: 0;
		opacity: 0;
	}
}

@keyframes loader-ring-middle {
	0% {
		width: 0;
		height: 0;
	}

	50% {
		width: 65%;
		height: 65%;
		border-width: 3px;
		opacity: 1;
	}

	100% {
		width: 65%;
		height: 65%;
		border-width: 0;
		opacity: 0;
	}
}

@keyframes loader-ring-outer {
	0% {
		width: 0;
		height: 0;
	}

	30% {
		width: 100%;
		height: 100%;
		border-width: 5px;
		opacity: 1;
	}

	100% {
		width: 100%;
		height: 100%;
		border-width: 0;
		opacity: 0;
	}
}


// Progress

$progressHeight: 42px;

.progress-bar {
	display: block;
	position: relative;
	margin: 0;
	margin-bottom: $spacing;
	height: $progressHeight;
	width: 100%;
	border-radius: $radius;
	background-color: $ce;
	box-shadow: 0 1px 3px rgba($c0, 0.35) inset;
	overflow: hidden;

	div {
		display: block;
		position: relative;
		width: 0;
		height: 100%;
		border-radius: $radius;
		background-color: $color1;
		box-shadow: inset 0 1px 0 rgba($cf, .5);
		transition: width $duration $easing;
		background-size: 40px 40px;
		background-image: linear-gradient(
			135deg,
			rgba($cf, 0.15) 25%,
			transparent 25%,
			transparent 50%,
			rgba($cf, 0.15) 50%,
			rgba($cf, 0.15) 75%,
			transparent 75%,
			transparent
		);
		transition: width $duration $easing;
		animation: stripes 0.5s linear infinite;

		&[data-percentage="100"] {
			background-color: $successBgColor;
			background-image: none;
		}

		&.active {
			&:before {
				opacity: 1;
			}
		}

		&:before {
			position: absolute;
			margin-top: -13px;
			padding: 2px 5px;
			height: 26px;
			top: 50%;
			right: $spacing + 10;
			font-size: $fontSize / 1.2 + rem;
			color: $color1;
			text-align: center;
			border-radius: $radius;
			background-color: $ce;
			content: attr(data-percentage) '%';
			z-index: 20;
			opacity: 0;
			transition: opacity $duration $easing;
		}

		&:after {
			position: absolute;
			margin-top: -5px;
			width: 10px;
			height: 10px;
			top: 50%;
			right: floor($spacing / 2);
			@extend .circle;
			background-color: $ce;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) inset;
			content: '';
		}
	}
}

@keyframes stripes {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 40px 0;
	}
}



// Responsive

@media screen and (min-width: $scrTablL) { // Min

	body:before {
		content: "desktop";
	}

	.tablet-show,
	.desktop-hide {
		display: none !important;
	}

}


@media screen and (max-width: $scrTablL) { // Max

	body:before {
		content: "tablet";
	}

	.tablet-hide {
		display: none !important;
	}

}


@media screen and (max-width: $scrTablS) { // Max

	html {
		background-color: $bodyBgColor;
	}

}


@media screen and (min-width: $scrMoblL) { // Min

	.mobile-show {
		display: none !important;
	}

}


@media screen and (max-width: $scrMoblL) { // Max

	body:before {
		content: "mobile";
	}

	.mobile-hide {
		display: none !important;
	}

}


@media screen and (max-width: $scrMoblS) { // Max

	html {
		background-color: $bodyBgColor;
	}

}