// Grid System

.row {
	display: block;
	position: relative;
	margin: 0 (- $gutter / 2);
	font-size: 0;

	> * {
		@include font-size($fontSize);
	}
}

.column {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: $gutter / 2;
	width: 100%;
	vertical-align: top;

	@for $i from 1 through $columns {
		&[data-span="#{$i}"] {
			width: percentage($i / $columns);
		}
		&[data-push="#{$i}"] {
			margin-left: percentage($i / $columns);
		}
	}
}

.cell {
	display: block;
	position: relative;
	padding: floor($spacing / 2);
}

.debug {
	.column {
		&:before,
		&:after {
			display: none;
			position: absolute;
			top: -5px;
			color: $brand1;
			@include font-size($fontSize / 1.8);
			opacity: 0.75;
			z-index: 5;
		}

		&:before {
			display: block;
			left: floor($spacing / 2) + 4;
			color: $brand1;
			content: "span " attr(data-span);
		}

		.cell {
			padding-top: 30px;
			padding-bottom: 30px;
			@extend .framed;
		}
	}

	&.show-push {
		.column {
			&:after {
				display: block;
				right: floor($spacing / 2) + 4;
				color: $brand3;
				content: "push " attr(data-push);
			}
		}
	}
}