// Box Model

.static {
	overflow: hidden !important;
}



// Box Model

.inline {
	display: inline !important;
}
.block {
	display: block !important;
}
.inline-block {
	display: inline-block !important;
}

.margin-none {
	margin: 0 !important;
}
.margin-full {
	margin: $spacing !important;
}
.margin-top {
	margin-top: $spacing !important;
}
.margin-right {
	margin-right: $spacing !important;
}
.margin-bottom {
	margin-bottom: $spacing !important;
}
.margin-left {
	margin-left: $spacing !important;
}
.margin-hor {
	margin-left: $spacing !important;
	margin-right: $spacing !important;
}
.margin-ver {
	margin-top: $spacing !important;
	margin-bottom: $spacing !important;
}

.padding-none {
	padding: 0 !important;
}
.padding-full {
	padding: $spacing !important;
}
.padding-top {
	padding-top: $spacing !important;
}
.padding-right {
	padding-right: $spacing !important;
}
.padding-bottom {
	padding-bottom: $spacing !important;
}
.padding-left {
	padding-left: $spacing !important;
}
.padding-hor {
	padding-left: $spacing !important;
	padding-right: $spacing !important;
}
.padding-ver {
	padding-top: $spacing !important;
	padding-bottom: $spacing !important;
}

.border-none {
	border: none !important;
}
.border {
	border: 2px dotted $failureBorderColor !important;
}
.dotted {
	border-style: dotted !important;
}
.dashed {
	border-style: dashed !important;
}

.rounded {
	border-radius: $radius !important;
}
.top-rounded {
	border-radius: 0 !important;
	border-top-left-radius: $radius !important;
	border-top-right-radius: $radius !important;
}
.right-rounded {
	border-radius: 0 !important;
	border-top-right-radius: $radius !important;
	border-bottom-right-radius: $radius !important;
}
.bottom-rounded {
	border-radius: 0 !important;
	border-bottom-left-radius: $radius !important;
	border-bottom-right-radius: $radius !important;
}
.left-rounded {
	border-radius: 0 !important;
	border-top-left-radius: $radius !important;
	border-bottom-left-radius: $radius !important;
}
.radius-none {
	border-radius: 0 !important;
}

.circle {
	border-radius: 1000px !important;
}
.square {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	font-size: 0;

	&:after {
		display: inline-block;
		padding-top: 100%; 	/* initial ratio of 1:1 */
		content: "";
		vertical-align: top;
	}
}

.framed {
	margin-left: 0;
	margin-right: 0;
	padding: $spacing;
	color: $bodyTextColor;
	background: $ce;
}
.card {
	@extend .framed;
	border: 0;
	background-color: $cf;
	box-shadow: 0 2px 1px 0 rgba($c0, .14), 0 3px 1px -3px rgba($c0, .2), 0 1px 5px 0 rgba($c0, .12);
}
.clean {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	color: $bodyTextColor;
	border: 0;
	border-radius: 0;
	background: none;

	.emphasis {
		color: $color2;
	}
}



// Fixes

.block-reset {
	font-size: 0 !important;

	> * {
		font-size: $fontSize + rem;
	}
}



// Positioning

.absolute {
	position: absolute !important;
}
.relative {
	position: relative !important;
}


.valign-top {
	vertical-align: top !important;
}
.valign-middle {
	font-size: 0 !important;

	&:after {
		display: inline-block !important;
		position: relative !important;
		margin: 0 !important;
		margin-right: -0.25em !important;
		width: 0 !important;
		height: 100% !important;
		top: 0 !important;
		left: 0 !important;
		content: "" !important;
		vertical-align: middle !important;
	}

	& > * {
		display: inline-block;
		font-size: $fontSize + rem;
		vertical-align: middle !important;
	}
}
.valign-bottom {
	vertical-align: bottom !important;
}
.valign-baseline {
	vertical-align: baseline !important;
}


.left {
	float: left !important;
	left: 0 !important;
}
.center {
	margin-left: auto !important;
	margin-right: auto !important;
}
.right {
	float: right !important;
	right: 0 !important;
}


.float-none {
	float: none !important;
}
.float-left {
	float: left !important;
}
.float-right {
	float: right !important;
}


.ltr {
	direction: ltr;
}
.rtl {
	direction: rtl;

	> * {
		@extend .ltr;
	}
}



// Widths

.width-full {
	width: 100% !important;
}
.width-half {
	width: 50% !important;
}



// Clears

.clearfix {
    &:after,
    &:before {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    &:after {
    	clear: both;
    }
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clear-left {
	clear: left !important;
}
.clear-right {
	clear: right !important;
}
.clear-both {
	clear: both !important;
}



// Visibility

.hidden {
	display: none !important;
}
.disappear {
	display: none !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 0 !important;
	height: 0 !important;
	font-size: 0 !important;
	border: 0 solid black !important;
	visibility: hidden !important;
	overflow: hidden !important;
}
.highlight {
	display: inline !important;
	border-radius: $radius !important;
	background: $highlightColor !important;
}



// Overflow

.scroll-none {
	overflow: hidden !important;
}
.scroll-x-none {
	overflow-x: hidden !important;
}
.scroll-y-none {
	overflow-y: hidden !important;
}



// Cursor

.pointer {
	cursor: pointer !important;
}



// Typography

.font-custom {
	font-family: $headingFont;
}

.font-zero {
	font-size: 0 !important;
}
.font-xxsmall {
	font-size: $fontSize / 2.2 + rem;
}
.font-xsmall {
	font-size: $fontSize / 1.8 + rem;
}
.font-small {
	font-size: $fontSize / 1.4 + rem;
}
.font-reduced {
	font-size: $fontSize / 1.2 + rem;
}
.font-normal {
	font-size: $fontSize + rem;
}
.font-medium {
	font-size: $fontSize * 1.2 + rem;
}
.font-expanded {
	font-size: $fontSize * 1.4 + rem;
}
.font-large {
	font-size: $fontSize * 1.7 + rem;
}
.font-xlarge {
	font-size: $fontSize * 2 + rem;
}
.font-xxlarge {
	font-size: $fontSize * 2.4 + rem;
}
.font-max {
	font-size: $fontSize * 2.8 + rem;
}
.font-ultra {
	font-size: $fontSize * 3.2 + rem;
}


.lowercase {
	text-transform: lowercase !important;
}
.uppercase {
	text-transform: uppercase !important;
}
.capitalize {
	text-transform: capitalize !important;
}


.light {
	font-weight: 300 !important;
}
.normal {
	font-weight: 400 !important;
	font-style: normal !important;
}
.semibold {
	font-weight: 600 !important;
}
.bold {
	font-weight: 700 !important;
}
.ultrabold {
	font-weight: 900 !important;
}
.italic {
	font-style: italic !important;
}


.underline {
	text-decoration: underline !important;
}
.strikethrough {
	text-decoration: line-through !important;
}


.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}
.text-justify {
	text-align: justify !important;
}


.wrap-normal {
	white-space: normal !important;
}
.wrap-none {
	white-space: nowrap !important;
}


.arial {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.monospace {
	font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace !important;
}



// Animation

.animate {
	transition-property: all;
	transition-duration: $duration;
	transition-timing-function: $easing;
}

.hardware-accel {
	transform: translate3d(0, 0, 0);
}
