// Responsive

@media screen and (max-width: $scrDeskL) {

	body:before {
		content: "desktop";
	}

	.wrapper {
		width: 100%;
	}

	.search-results {
		&[data-view="grid"] {
			.search-item {
				width: percentage(3 / 12) - 2;
			}
		}
	}

}



@media screen and (max-width: $scrDeskS) {

	// Slider

	.slider {
		.slider-nav {
			&.thumbs {
				.slider-bullet {
					padding-bottom: 9%;
					width: 9%;
				}
			}
		}
	}


	// Map

	.map-wrapper {
		height: 60vw;
	}


	// Search

	.search-results {
		&[data-view="grid"] {
			.search-item {
				width: percentage(4 / 12) - 2;
			}
		}
	}

}



@media screen and (max-width: $scrTablL) {

	body:before {
		content: "tablet";
	}

	.table-mirror {
		display: table !important;
	}


	// Typography

	html {
		font-size: 50%;
	}

	p.lead {
		font-size: $fontSize;
		font-weight: bold;
	}


	// Font sizes

	.structure.clean {
		font-size: $fontSize / 1.1 + rem;
	}


	// Widths

	.column {
		width: 100% !important;

		&[data-push] {
			margin-left: 0;
		}

		@for $i from 1 through ($columns / 4) {
			&[data-span="#{$i}"] {
				width: 50% !important;
			}
		}

		@for $i from 1 through ($columns / 6) {
			&[data-span="#{$i}"] {
				width: 33.333% !important;
			}
		}
	}

	form {
		.column {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.button {
		margin-bottom: 4px;
	}


	// Forms

	input,
	select,
	textarea,
	.input-addon,
	.password-wrapper,
	.file-wrapper,
	.dropdown-wrapper {
		width: 100% !important;
	}

	.dropdown {
		display: none !important;
	}

	input[type="radio"],
	input[type="checkbox"] {
		width: auto;
	}

	.input-group {
		input {
			text-align: left;

			&:first-child {
				border-top-radius: $radius;
				border-bottom-radius: 0;
			}
			&:last-child {
				border-top-radius: 0;
				border-bottom-radius: $radius;
			}
		}

		.input-addon {
			text-align: left;
			border: 1px solid $cd;
			border-top: 0;
			border-bottom: 0;
		}
	}

	.multifile-info {
		display: none !important;
	}


	// Overlays

	.overlay {
		.modal {
			width: 90%;
		}
	}


	// Notification

	.notification-wrapper {
		margin: 3%;
		width: 94%;
		font-size: $fontSize + rem;
	}


	// Tooltips

	.tooltip {
		cursor: default;
	}


	// Slider

	.slider {
		.slider-container {
			&:after {
				display: block;
			}
		}

		.slider-movable {
		    cursor: move;
		    cursor: grab;
		}

		&:hover {
			.slider-arrow {
				opacity: 1;
			}
		}

		.slider-arrow {
			opacity: 0.75;

			&.slider-arrow-prev {
				margin-left: floor($arrowDiameter / 2) !important;
			}
			&.slider-arrow-next {
				margin-right: floor($arrowDiameter / 2) !important;
			}
		}

		.slider-nav {
			&.thumbs {
				.slider-bullet {
					padding-bottom: 11.5%;
					width: 11.5%;
				}
			}
		}

		@for $i from 1 through 20 {
			&[data-display="#{$i}"] {
				.slide {
					width: 33.333% !important;
				}

				.slider-arrow {
					opacity: 0.75;

					&.slider-arrow-prev {
						margin-left: floor(-$arrowDiameter / 2) !important;
					}
					&.slider-arrow-next {
						margin-right: floor(-$arrowDiameter / 2) !important;
					}
				}
			}
		}
	}


	// Tables

	.table-original {
		display: none;
	}

	table {
		caption {
			font-size: $fontSize + rem;
			text-align: center;
		}

		tr {
			th,
			td {
				&:last-child {
					font-weight: normal;
					text-align: left;
					background: none;
				}
			}
		}
	}


	// Search

	.search-results {
		&[data-view="grid"] {
			.search-item {
				width: percentage(6 / 12) - 2;
			}
		}
	}

}



@media screen and (max-width: $scrTablS) {

	.mobile-show {
		display: block !important;
	}
	.mobile-hide {
		display: none !important;
	}

}



@media screen and (max-width: $scrMoblL) {

	body:before {
		content: "mobile";
	}


	// Columns

	.column {
		width: 100% !important;

		@for $i from 1 through ($columns / 4) {
			&[data-span="#{$i}"] {
				width: 100% !important;
			}
		}

		@for $i from 1 through ($columns / 6) {
			&[data-span="#{$i}"] {
				width: 50% !important;
			}
		}
	}


	// Slider

	.slider {
		.slider-arrow {
			display: none !important;
		}

		.slider-nav {
			&.thumbs {
				.slider-bullet {
					padding-bottom: 19%;
					width: 19%;
				}
			}
		}

		@for $i from 1 through 20 {
			&[data-display="#{$i}"] {
				.slide {
					width: 50% !important;
				}
			}
		}
	}


	// Search

	.search-results {
		&[data-view="grid"] {
			.search-item {
				width: auto;
			}
		}
	}


}



@media screen and (max-width: $scrMoblS) {

}
