// Tables

table {
	display: table;
	table-layout: fixed;
	position: relative;
	margin: $spacing auto;
	width: auto;
	min-width: 100%;
	text-align: left;
  	border-collapse: collapse;

	caption {
		position: relative;
		margin-top: floor($spacing / 2);
		margin-bottom: floor($spacing / 1.5);
		font-size: $fontSize * 1.2 + rem;
		font-weight: bold;
	}

	thead,
	tbody {
		position: relative;
		margin: 0 auto;
	}

	th,
	tr,
	td {
		margin: 0;
		padding: floor($spacing / 2) floor($spacing / 1.5);
		border: 1px solid $cd;

		* {
			margin: 0 !important;
		}
	}

	tr {
		&:first-child {
			th,
			td {
				font-weight: bold;
				text-align: center;
				background: $ce;
				white-space: nowrap;

				&:first-child {
					border-top-left-radius: $radius;
				}
				&:last-child {
					border-top-right-radius: $radius;
				}
			}
		}

		&:last-child {
			th,
			td {
				&:first-child {
					border-bottom-left-radius: $radius;
				}
				&:last-child {
					border-bottom-right-radius: $radius;
				}
			}
		}

		&.even {
			td {
				background: $cf;
			}
		}

		th,
		td {
			&:first-child {
				font-weight: bold;
				text-align: center;
				background: $ce;
				white-space: nowrap;
			}
		}
	}

	td {
		text-align: left;
		background: $cf;
	}
}

.table-mirror {
	display: none !important;
}



// Responsive

@media screen and (max-width: $scrTablL) {

	.table-original {
		display: none;
	}

	.table-mirror {
		display: table !important;
	}

	table {
		caption {
			font-size: $fontSize + rem;
			text-align: center;
		}

		tr {
			th,
			td {
				&:last-child {
					font-weight: normal;
					text-align: left;
					background: none;
				}
			}
		}
	}

}



// Conditional

.lt-ie9 {

	table {
		border-collapse: collapse;
	}

}